[2016-01-15 10:15] albertmeronyo opened #1 "Local instance landing page"

[2016-01-15 10:25] #1 closed

[2016-01-26 14:16] albertmeronyo opened #2 "Namespace prefixes in parametrized queries"
* you seem to have to fill in complete IRIs; maybe this can be solved
by having good preflabels where you can just enter the string,
alternatively it would be nice if you could at least use the prefix;
even better would be if you got an option list
  - The last is not possible
  - We could add a link to prefix.cc to do an educated guess as to what namespace a prefix would expand to.
  - AR: Altern

[2016-02-04 09:57] albertmeronyo commented on #2
It's a good idea to allow the UI to ingest both full IRIs and namespace-abbreviated ones. I'm fixing this in the implementation.

On the other hand, the prefix.cc, and #? ?_foo: <bar> implementations have issues. With prefix.cc, it's very unlikely you'll need to replace parameter values with resources in the foaf: or prov: namespaces. The #? ?_foo thing would be overkill for something which is an

[2016-02-04 14:06] #2 closed

[2016-02-11 15:43] albertmeronyo opened #3 "Give options on values for the parameters"
Currently users have no idea on what options they have about possible values for query parameters.

[2016-03-18 10:28] rlzijdeman opened #4 "queries won't load"
Hi, I'm using the Clariah WP-4 queries [1], however my query doesn't show in grlc (while it is showing up in [1]. The three queries I have been experimenting with are:

- hisco_hsn_1.rq
- hisco_hsn_q.rq
- hisco_hsn_q2.rq

hisco_hsn_1.rq is a copy of one of the canfam files and *IS* showing in grlc.
hiscio_hsn_q and q2 contain queries I made myself that are working in yasgui [2]. The difference bet

[2016-03-24 09:26] RinkeHoekstra opened #5 "index.html should follow README.md"
They should stay in sync

[2016-03-24 09:33] RinkeHoekstra opened #6 "Use CDN's instead of submodules for bootstrap and swagger-ui"
This is currently rather convoluted: no need for cloning the sources of these packages.

[2016-05-18 07:14] albertmeronyo commented on #4
Hi @rlzijdeman,
The queries didn't parse at the grlc instance because they had missing PREFIX definitions (skos). Usually this isn't enough to make the queries crash at the endpoint, since the 'famous' prefixes are defined also there. The problem is that the grlc instance also parses them locally to extract the tag metadata, and hence they need to be correct (also prefix-wise) before shooting them

[2016-05-18 07:15] #4 closed

[2016-05-18 07:15] albertmeronyo opened #7 "prefix.txt file with common prefixes to all queries in the repo"

[2016-05-19 14:45] rlzijdeman commented on #4
hi @albertmeronyo, thanks it now works like a charm! :)

[2016-05-20 07:29] rijpma opened #8 "fetch queries that lack summary but do have tags"
https://github.com/CLARIAH/wp4-queries/blob/9b3b6dee9e5281dbd72332d6e910fdb79077ccd0/statusbybirtyear_mult.rq would not load while https://github.com/CLARIAH/wp4-queries/blob/3a6bacaca57f6f2c69644546e4a46fdd8622bddc/statusbybirtyear_mult.rq would, even though queries with neither summary nor tags are fetched

[2016-06-04 18:07] jetschni opened #9 "IRI parameters (?_name_iri) it is not probably wrapped with <> (<name>)"
**Example**

SPARQL Query
`SELECT * WHERE{
?_city_iri dbo:populationTotal ?populationTotal
}`

grlc sends following query (?city=http://dbpedia.org/resource/London)
`SELECT * WHERE{
http://dbpedia.org/resource/London dbo:populationTotal ?populationTotal
}`

instead of
`SELECT * WHERE{
<http://dbpedia.org/resource/London> dbo:populationTotal ?populationTotal
}`

[2016-06-15 08:09] albertmeronyo commented on #3
The swag spec has an option for this, as described in http://stackoverflow.com/questions/27603871/how-to-define-enum-in-swagger-io

Basically the parameters section allows for an 'enum' entry with all possible parameter options (will also be displayed in the UI in a dropdown)

[2016-06-15 08:10] albertmeronyo commented on #3
Fixing this with prefetching via SPARQL

[2016-06-15 13:10] #9 closed

[2016-06-15 13:11] #3 closed

[2016-06-15 13:20] albertmeronyo opened #11 "Decorators for request types (GET, PUT, etc.)"

[2016-06-15 15:52] AshkanA opened #12 "sort parameters in dropdown list"
see for example the values of the parameter municipalities

[2016-06-15 15:53] AshkanA opened #13 "Option to select 'all values' for parameters"
So users can query for all **years** or all **municipalities**

[2016-06-16 07:08] RinkeHoekstra commented on #13
This is an understandable request, but it is not going to happen in grlc for a number of (mostly technical) reasons: incompatibility with Swagger API spec (you're dynamically adding another response field), and there could be a perfectly valid value 'all' in your database that you would like to constrain the results to.

[2016-06-16 07:09] albertmeronyo commented on #13
This turns to be a requirement better addressed by writing another query in CEDAR-project/Queries, so closing this one and opening a new one there.
Thanks @AshkanA !

[2016-06-16 07:09] #13 closed

[2016-06-16 07:09] RinkeHoekstra commented on #11
You mean a decorator in the query comment

[2016-06-16 07:19] albertmeronyo commented on #11
Yes, something like:

 <pre> &#35;+ request: POST
  &#35;+ tags:
  &#35;+   - firstTag
  &#35;+   - secondTag</pre>

[2016-06-16 08:23] #12 closed

[2016-06-21 12:51] albertmeronyo opened #14 "Query parsing is odd when OPTIONAL contains parameters"
The OPTIONAL clause is not parsed correctly by the parameter matchers (seems to be just discarded from the query included in the spec)

[2016-06-21 12:55] albertmeronyo opened #15 "Adequate processing of optional parameters"
When a parameter is optional, grlc should:
- If it has a value, rewrite query to replace variable name with value
- If it has not a value, don't rewrite anything

[2016-06-21 13:24] albertmeronyo commented on #15
Side effect: if the parameter is optional, and the variable of that parameter appears as a projection, and the user DOES give it a value, then rewrite query removing the variable name from the projection

[2016-06-21 13:34] albertmeronyo opened #16 "Anchors to specific operations?"
Can anchors be used in swagger-ui to make a URL point to a specific operation?

[2016-06-21 14:11] albertmeronyo opened #17 "Enable content negotiation via URL"
So that this:

http://localhost:8088/CEDAR-project/Queries/residenceStatus_all.csv

Calls the operation 'residenceStatus' using the HTTP header "Accept: text/csv"

[2016-06-21 14:18] LaurensRietveld commented on #17
A comment on the content negotiation. When you map the extension to the accept headers, make sure that .json does not only get mapped to 'application/json', but also to 'application/sparql-results+json'. The same goes for xml. And, fingers crossed that the endpoint does support actual content negotiation on e.g. `application/json; q=1.0, application/sparql-results+json; q=0.8`, and not does simple

[2016-06-21 15:13] #17 closed

[2016-06-24 08:32] albertmeronyo opened #18 "Logger cleanup"

[2016-06-24 13:11] albertmeronyo opened #19 "Parameter enumerations don't work if not in object position"
Enable the pattern matching for parameter enumerations to recognize the triple patterns when the parameter comes in subject or predicate position

[2016-06-24 13:12] #19 closed

[2016-06-27 08:42] albertmeronyo opened #20 "Basic caching"
Store last generated spec in an obj of the form

`{repo_uri : { date: date_spec_generated, spec: spec_generated }}`

When generating the spec, check if the  date_spec_generated is greater than the pushed_at value at the repo API. Then, use the stored spec_generated in the obj. Else, generate the spec normally and update the cache.

[2016-06-27 10:05] #20 closed

[2016-06-28 11:54] #11 closed

[2016-07-20 07:24] albertmeronyo opened #21 "MS REST API guidelines"
Check out what from https://github.com/Microsoft/api-guidelines could be relevant

[2016-08-02 15:03] #18 closed

[2016-08-09 14:37] albertmeronyo opened #22 "Pagination"
As in the GitHub API, see https://developer.github.com/guides/traversing-with-pagination/

[2016-08-09 14:37] albertmeronyo commented on #22
Beware of this limitation in Virtuoso: https://github.com/silk-framework/silk/issues/31

[2016-08-09 14:42] #22 closed

[2016-08-16 08:01] albertmeronyo opened #23 "Auto-update API spec cache when a repo is pushed via webhooks"
grlc could re-generate the API spec on the background, and update it in the cache, as soon as a user pushes is SPARQL query repo and sends the POST HTTP request to the grlc server

[2016-08-23 14:37] DimitrisAlivas opened #24 "Looking for subfolders named "queries""
Not all projects have their queries in a separate repository but have the queries in a subfolder.

[2016-09-08 13:08] RinkeHoekstra opened #25 "Parsing errors with syntactically correct queries"
For instance in https://github.com/RinkeHoekstra/semanticweb-sparql-queries, for `14_describe.rq` and `22_sameAs_dbpedia.rq` and `23_sameAs_lodcache.rq`

[2016-09-08 13:11] LaurensRietveld commented on #25
Can this be an encoding issue? I see some strange characters when viewing
this file via the browser :

https://github.com/RinkeHoekstra/semanticweb-sparql-queries/blob/master/23_sameAs_lodcache.rq

Gr, Laurens

________________________________
Sendt with my thumbs.
Please excuse brevity and typos

On Sep 8, 2016 17:38, "Rinke Hoekstra" <notifications@github.com> wrote:

For instance in https://git

[2016-09-08 13:12] RinkeHoekstra commented on #25
Good catch... these were the result of copying from <http://yasgui.org> by the way ;-)

Query 14 still won't work though.

[2016-09-12 13:14] albertmeronyo opened #26 "Cache won't refresh when the GitHub repo is updated"

[2016-09-14 10:58] albertmeronyo opened #27 "GitHub OAuth support"
Users should be able to "log in" using their GitHub OAuth credentials.
This could be used to guide them through the UI in selecting the repos containing the SPARQL queries (instead of the current method of "manually" editing the browser URL).

[2016-09-14 14:00] albertmeronyo opened #28 "Docker image at hub.docker.com"

[2016-09-14 14:17] albertmeronyo opened #29 "dev.grlc.io"
Set up a dev version of grlc.io

[2016-09-28 13:16] #6 closed

[2016-09-30 13:56] albertmeronyo commented on #28
The most up-to-date image can now be retrieved via docker with

`docker pull clariah/grlc`

[2016-09-30 13:56] #28 closed

[2016-09-30 13:59] albertmeronyo commented on #26
The new implementation pushes caching away from the grlc implementation: now this is responsibility of the reverse proxy (nginx).
The docker image currently pushed into docker's hub (see #28) already incorporates nginx and an automated process of creating this cache via nginx templates.

Importantly, the core issue remains, since pushing the GitHub repo containing the SPARQL queries won't instantl

[2016-09-30 13:59] #26 closed

[2016-09-30 14:12] cgueret commented on #28
Neat! :-)

[2016-10-04 10:48] #29 closed

[2016-10-04 10:51] albertmeronyo opened #30 "Support for hash-ed URIs pointing at specific commits of SPARQL queries"
Nice to have/consider: would be good to be able to refer to a specific SPARQL query version (via a commit hash).

This touches upon the issue of how to sync SPARQL query versions with API versions.

[2016-10-05 08:11] albertmeronyo commented on #23
Trivially implementing this by:
- Increasing the max-age value in the Cache-Control HTTP header
- Catching POST webhook payloads and deducing the JSON spec URI
- grep -lr 'http://mydomain.pl/css/myedited.css$' /var/nginx/cache/* to empty the nginx cache for that item

[2016-10-07 14:18] albertmeronyo opened #31 "Module for querying endpoints"
This should be a replacement of all stupidly repeated urllib2 calls.
(Also allowing for further replacements with something nicer)

[2016-10-12 13:55] albertmeronyo commented on #31
Actually, implementing this with the very elegant python library (requests)[http://requests.readthedocs.io/en/master/#], which takes care of HTTP requests in nicely readable, secure, short, human-friendly code.

[2016-10-12 13:58] #31 closed

[2016-10-18 15:08] albertmeronyo opened #32 "Refresh cache button"
Forces the spec to be re-generated

[2016-10-24 12:06] c-martinez opened #33 "Use SPARQLWrapper ?"
Would it perhaps be an idea to use [SPARQLWrapper](https://github.com/RDFLib/sparqlwrapper) ? It already has support for handling different formats (e.g. JSON, XML, TURTLE, etc.)

[2016-10-27 14:16] albertmeronyo commented on #33
Thanks for the issue, @c-martinez !
Our first implementation used SPARQLWrapper, but we found it limited wrt controlling content negotiation (e.g. text/csv is often implemented in endpoints but unsupported in SPARQLWrapper).
We're currently using (requests)[http://docs.python-requests.org/en/master/] to implement all HTTP interaction.
Thanks again!

[2016-10-27 14:16] #33 closed

[2016-11-04 09:09] c-martinez commented on #33
Would it be easier to add the csv support to SPARQLWrapper, instead of doing it on your own? Would it make grlc easier to maintain?

(I am just curious -- please ignore me if it is not relevant)

[2016-11-10 06:52] albertmeronyo opened #37 "Error pages for non-existing routes"

[2016-11-14 17:08] c-martinez commented on #14
Some [complicated](https://github.com/DivePlus/queries/blob/master/getSearchQuery.rq) [queries](https://github.com/DivePlus/queries/blob/master/relatedAction.rq) with `OPTIONAL` clauses seem to be parsed incorrectly.

As a work around, is there a way to tell grlc to *not* try to generate enums for certain parameters? for example if they are `?_name_string`

[2016-11-15 13:49] albertmeronyo opened #41 "Generic, on-demand processing of query metadata"
Currently we're "statically" processing query metadata (e.g. endpoint, method, tags, etc.). An option would be to pass a list through the parameter extraMetadata of build_spec() with the parameters that we want to be processed.

[2016-11-16 09:50] albertmeronyo commented on #14
I agree that grlc shouldn't try to fill in enums for all parameters: it's expensive, and not very useful if the variable is bound to a large number of values.
On the other hand, it's hard to foresee whether iri, literal or other kinds of parameters should get enums or not. E.g. some ?_var_string might be bound to a few distinct literals, and an enum might still be useful.

I think what's best here

[2016-11-16 11:16] RinkeHoekstra commented on #14
... wouldn't it be more natural to extend the variable labelling with an enum parameter? E.g. `?_example_iri_enum`

#justsayin

[2016-11-16 12:15] c-martinez commented on #14
I think the generating enums on demand (only for parameters which explicitly request it), is a more elegant solution. You are right, @albertmeronyo in that a string might still require an enum.

As for labeling the parameter itself, it might get tricky with different combinations, e.g: `?_name`, `?_name_string`, `?_name_enum`, `?_name_string_enum`, `?_name_prefix_datatype`, `?_name_prefix_datatype

[2016-12-23 10:39] albertmeronyo opened #46 "Make max-age cache HTTP header customizable"

[2016-12-28 07:22] trevorlazarus opened #47 "Not able to access the instance"
Hi, I think I'm missing something during the setup and am not able to access the grlc instance, I've tried the Docker way as well as the Python setup.

[2016-12-28 09:52] albertmeronyo commented on #47
Hi @trevorlazarus Thanks for the feedback.
I've updated the Python setup instructions (were a bit outdated).
Can you let me know if that works? And: can you paste the error you get in Docker?

[2016-12-28 10:12] trevorlazarus commented on #47
Thanks @albertmeronyo for the swift response, will try it out right away and get back to you.

As for the errors, I get no errors whatsoever, I did a docker pull, then a docker-compose up and it seems to be running on 0.0.0.0:8088, but I'm not able to access it.

[2016-12-28 10:17] trevorlazarus commented on #47
Is there a way to make the Python setup run on 0.0.0.0:8088 as opposed to 127.0.0.1:8088, I'm not able to access this from outside a Google Compute Engine VM
![screen shot 2016-12-28 at 11 14 19 am](https://cloud.githubusercontent.com/assets/3745470/21519643/38b34ff2-ccef-11e6-8434-8f6c553f06e4.png)

[2016-12-31 06:09] trevorlazarus commented on #47
@albertmeronyo, it would be great if you can put out some more instructions for both Docker and Python

[2017-01-09 09:53] albertmeronyo commented on #47
@trevorlazarus Thanks for raising this. You can tell flask what host and port you want to use in `src/static.py`. Alternatively (and more securely), you can run grlc via gunicorn and specify host and port in `gunicorn_config.py`

[2017-01-09 14:35] albertmeronyo opened #49 "Refactor call name function in src/server.py"

[2017-01-26 15:50] albertmeronyo opened #50 "Add examples to index landing page"

[2017-01-26 15:53] albertmeronyo opened #51 "Fix bug on /api/user/repo (no trailing slash) route"

[2017-01-30 10:49] #50 closed

[2017-01-31 14:15] albertmeronyo commented on #23
Closing issue since caching is now dealt with via nginx

[2017-01-31 14:15] #23 closed

[2017-02-01 08:21] #46 closed

[2017-02-01 08:21] #51 closed

[2017-02-01 11:41] moissinac opened #52 "Unable to create a working repository"
I've created a repository for request here
https://github.com/moissinac/sparqlQueries
then I point to
http://grlc.io/api/moissinac/sparqlQueries
As you can see, it produces an error

The only one request in my repo is a copy of one in your repo (https://github.com/CLARIAH/wp4-queries)
Can you help me?

[2017-02-01 11:45] albertmeronyo commented on #52
Hi @moissinac , thanks for trying grlc!
There's an error in the metadata of your query; this line

# endpoint is http://dbpedia.org/sparql

should be

#+ endpoint: http://dbpedia.org/sparql

Can you correct this and try again?

[2017-02-01 12:12] moissinac commented on #52
Corrected, same result
The request is a copy on the dbpedia.rq sample in your repo
Without the +, your default endpoint is dbpedia, and so the request must work

[2017-02-01 13:02] albertmeronyo commented on #52
Thanks for reporting this. I've forked your repo at https://github.com/albertmeronyo/sparqlQueries and corrected some errors:

- The exact syntax of the endpoint entry must be `#+ endpoint: http://dbpedia.org/sparql` (notice the colon). If you want to use DBpedia's endpoint as per grlc's default it's better to not specify the endpoint decorator at all, since syntax errors in these decorators will

[2017-02-01 13:55] moissinac commented on #52
After copying your new request, I've
http://grlc.io/api/albertmeronyo/sparqlQueries
partially working (the page ends with an error)
and, with the same request
http://grlc.io/api/moissinac/sparqlQueries
not working

(i'm really interested by your work; i'm working on similar concept and I think that your idea to disjoin API and API repository is really good)

[2017-02-01 14:01] albertmeronyo commented on #52
Thanks for your comments @moissinac
Both APIs work for me. If you click on the call name, you'll see a "Try it out" button that lets you to call the endpoint and execute the query.
The red "error" underneath is due to a bug in the spec generation and can be safely ignored.

[2017-02-02 10:05] moissinac commented on #52
Now, it works for me. Perhaps, yesterday, my test get the file from a cache...???
Thanks

[2017-02-02 10:05] #52 closed

[2017-02-09 16:01] dafnevk opened #53 "Make compatible with Python 3"
The python package `grlc` currently only works in Python 2. It would be nice to also make it compatible with Python 3.

[2017-02-09 17:56] rlzijdeman commented on #53
Hi Dafne, I think grlc was purposively developed in Python 2 with the usual Python2 vs python 3 issues [1] in mind. However, grlc can now be run via docker, which should circumvent such issues.

[1] https://wiki.python.org/moin/Python2orPython3

[2017-03-01 18:14] albertmeronyo opened #55 "Simpler enumeration filling"
In the get_enumeration function,  you're matching against the triple pattern (s) that contain the variable. Two things go ‘wrong’ here: 1) what if the variable occurs in multiple places? and 2) you are very likely to start iterating over waaaaaay too many options (e.g. iterating over one of the positions in ?s ?p ?o). It makes much more sense to just pose the query as-is, and then retrieve all pos

[2017-03-06 10:07] albertmeronyo opened #56 "Make upstart run multiple docker containers in a swarm, remove gunicorn"

[2017-03-06 10:08] LaurensRietveld commented on #56
Have you tried simply running multiple docker containers in a swarm as well? (this is pretty easy as of docker-compose v3)

[2017-03-06 10:10] albertmeronyo commented on #56
Good one! And: it would also remove the gunicorn dependency, since worker threading is the only feature grlc uses of it. Thanks @LaurensRietveld !

[2017-03-06 13:23] albertmeronyo opened #57 "Authenticate grlc requests to GitHub API"

[2017-03-07 11:00] albertmeronyo opened #58 "Check content negotiation in endpoints"
Some endpoints have trouble with content negotiation, check e.g. https://data.pdok.nl/sparql
(thanks @reinvantveer)

[2017-03-07 12:17] albertmeronyo commented on #58
This works

curl -i "https://data.pdok.nl/sparql?query=select+*+where+%7B%3Fs+%3Fp+%3Fo%7D+limit+10" -H 'Accept: application/json; q=1.0, application/sparql-results+json; q=0.8, text/csv; q=0.1'

While this doesn't

curl -i "https://data.pdok.nl/sparql?query=select+*+where+%7B%3Fs+%3Fp+%3Fo%7D+limit+10" -H 'Accept: application/json; q=1.0, application/sparql-results+json; q=0.8, text/csv; q=0.1, *

[2017-03-09 17:24] #57 closed

[2017-03-14 18:57] #55 closed

[2017-04-11 12:51] RinkeHoekstra opened #59 "Allow to leave variable unbound in parameterised queries (with dropdown)"
In some cases, it is inconvenient to have to select a value for a ?_varname_iri parameter: it is better to leave it unbound. An example is where you want to return values for all years, rather than a specific year.

It would be good to allow users to select a '?' or similar option in the dropdown that makes grlc ignore the specified parameter/variable when rewriting the query.

Perhaps also return

[2017-04-11 12:53] RinkeHoekstra commented on #59
For queries where the value is not filled in (e.g. not URIs, but literals) it should be possible to specify it as an optional parameter.

[2017-06-09 14:09] barrynl opened #60 "AttributeError: 'module' object has no attribute 'ACCESS_TOKEN'"
Hi all,

My GRLC suddenly stopped working with the stack trace below in the GRLC logs. It requires an ACCESS_TOKEN and I've located the config.ini file that contains the following content:

[auth]
github_access_token =

Apparently, I need to give a github_access_token, but I do not know how to get one. I also wonder why public access requires an Access Token on github.

Regards, Barry

[code]

[2017-06-09 14:30] barrynl commented on #60
Hi all,

I thought I found the solution, but unfortunately, it did not work:
- Generated a 'Personal Access Token' in my Github settings.
- Modified the docker-compose.yml I was using with the variable:

`    environment:
     - DEBUG=true
     - USERMAP_GID=1000
     - USERMAP_UID=1000
     - GRLC_GITHUB_ACCESS_TOKEN=...personal...access...token...`

But the error above remains...also on github r

[2017-06-09 18:14] barrynl commented on #60
Hi, solved this issue.

I use GRLC in my docker-compose application where I am using a custom static.py with my default endpoint, etc. However, the static.py changed to include the ACCESS_TOKEN attribute, but it was being replaced by my older version of static.py (docker-compose build). So, it did not contain any ACCESS_TOKEN attribute (as the error says). I've updated my custom static.py to the l

[2017-06-09 18:14] #60 closed

[2017-06-16 18:21] barrynl opened #61 "Bad syntax (expected item in list or ')')"
Hi,

I have created a GitHub repository that breaks GRLC because it's commit history contains files with invalid characters. Try: http://grlc.io/api/barrynl/uncertainty-sparql

The error in the log can be found at the end of this issue.

I have reduced the repository to a minimal example to debug the error and it is caused by this commit:

barrynl/uncertainty-sparql@5419d3e

The commit contains a

[2017-06-17 05:58] rlzijdeman commented on #61
Hi @barrynl ,

in an attempt to resolve this issue, I've tried to run your query without grlc in Yasgui, a sparql editor. It appears that the endpoint is not available?

http://yasgui.org/short/H1V5NSz7-

Best,

Richard

[2017-06-17 06:19] rlzijdeman opened #62 "grlc appears to have a memory for broken files"
Hi, when making a mistake in an .rq file, grlc won't load your repo, exciting with error:

[code]

That's all fine, but it appears that if you fix the mistake, grlc still won't load the repo. This might also be related to #61. When I tried to fix it, at some point I decided to go with a no-fail option: namely by pasting the code from working a .rq file in the .rq file at hand. The code is from [[1

[2017-06-19 08:09] albertmeronyo commented on #61
Hi @barrynl

Good catch. Those URI's though are not generated by grlc, but by (Git2PROV)[https://github.com/IDLabResearch/Git2PROV] which we're using to generate PROV out of the repo's commit history. At a closer look, it seems that the bug might be in rdflib's parser instead, because it seems legal to have [parenthesis in URIs](https://stackoverflow.com/questions/1547899/which-characters-make-a-u

[2017-06-19 08:14] albertmeronyo commented on #62
Hi @rlzijdeman

I've pushed a commit that should fix #61 , could you try again?

Thanks,
Albert

[2017-06-19 08:18] rlzijdeman commented on #62
I guess you mean #62 (this issue)? Cheers! Works like a [charm](http://grlc.io/api/rlzijdeman/uncertainty-sparql), now!

[2017-06-19 08:18] #62 closed

[2017-06-19 08:24] barrynl commented on #61
Hi, thanks for your replies.

@rlzijdeman Sorry, yes, you are correct. I run GRLC in a docker-compose setup, so the endpoints make no sense outside that context. This means my "Try: http://grlc.io/api/barrynl/uncertainty-sparql" text above will also not work once the git2prov issue @albertmeronyo describes is resolved.

@albertmeronyo Thanks for the explanation. According to this post, IRIs may co

[2017-07-10 10:53] ehrmama opened #63 "problems with basic grlc setting"
Hello,

First of all, thanks for developing this application which sounds really handy.
I am trying to work with it but have some problems, on both public and private instances of grlc.

- **grlc public instance**:

My test [repository](https://github.com/ehrmama/garzoni-queries/tree/master) contains 2 queries, one custom and the other from the [glrc tutorial](https://docs.google.com/document/d/19

[2017-07-10 12:06] ehrmama commented on #63
Update: after a while the "example" query is rendered at grlc.io.

[2017-07-18 14:03] barrynl commented on #61
Do you want me to close this issue? Because you talk about 'for the time being' as if you are planning to find a better solution in the future :)

[2017-07-18 19:03] kidehen opened #64 "Passing Swagger Docs Validation & Discovery Patterns"
Swagger JSON Documentation validation is [failing](https://twitter.com/kidehen/status/887381046488117251 ).

Discovery of JSON docs should adopt existing "[best practices](https://twitter.com/kidehen/status/887380558065668097)" i.e., use "VALID {..}" icon in HTML; xhv:alternate in <head/> (i.e., POSH), and <script/> for structured data island using preferred notation (JSON-LD, Turtle, JSON-LD, RDF

[2017-07-19 16:29] albertmeronyo commented on #61
Hi @barrynl , thanks for your comment.

I opened an issue at the RDFLib tracker when we investigated this: https://github.com/RDFLib/rdflib/issues/752
But so far it hasn't caught attention. I just updated that issue with a related link to the Turtle spec that deals with escaping special characters --might be related.

Shall we wait a bit more for a response before closing? In the worst case scenar

[2017-08-04 09:16] barrynl opened #65 "Support INSERT queries"
Hi all,

I'm trying to use GRLC to insert data into a triple database, but the query does not show up in the interface and the GRLC logs show this message:

ParseException: Expected {SelectQuery | ConstructQuery | DescribeQuery | AskQuery}

Apparently, only retrieval of data is supported. Are there any plans for supporting INSERT queries?

Kind regards, Barry

[2017-08-04 09:38] barrynl commented on #63
Hi,

I notice you **example** query is working correctly now, only the **test** query does still not show up.

I think this is caused by a difference in parsing SPARQL by your endpoint at (http://128.178.60.47:8890/sparql) and the parsing done by GRLC. If you change the relevant part of your query to this:

`SELECT ?year (COUNT (?c) AS ?NbContracts)`

it works correctly (note the additional parent

[2017-08-04 12:14] barrynl commented on #65
Hi, I've tried to find out why GRLC does not support this; starting from the following error in the log:

[code]
It seems to be related to the rdflib Query.parseString calls in the [gquery.py](https://github.com/CLARIAH/grlc/blob/master/src/gquery.py#L194) file. From the rdflib code, this function only supports **read** queries ([see rdflib](https://github.com/RDFLib/rdflib/blob/master/rdflib/plug

[2017-08-22 13:33] albertmeronyo commented on #65
Hi @barrynl ,

Thanks for posting this. Support for anything other than SELECT has been so far rudimentary, but please check out 53a886cbf3a468048b5ca498f48b3852fd8d247f for a basic INSERT implementation.

Basically I've followed your advice and used rdflib's UpdateUnit. This comes with two important caveats:
- Implementations for INSERT vary among endpoints. So far I've been unable to check Virtu

[2017-08-22 15:35] barrynl commented on #65
Hi @albertmeronyo ,

Thanks for the effort!

Concerning your caveats:
* I'm currently only using Apache Jena Fuseki.
* You are absolutely right. 😆 I had not realized that INSERT queries obviously do not come with variables. This, however, is a requirement in my use case, so I have to think about this a bit more.

My use case is that I want to let a user fill in the Swagger parameter values (or cal

[2017-08-22 15:35] barrynl commented on #65
Hi @albertmeronyo ,

Thanks for the effort!

Concerning your caveats:
* I'm currently only using Apache Jena Fuseki.
* You are absolutely right. 😆 I had not realized that INSERT queries obviously do not come with variables. This, however, is a requirement in my use case, so I have to think about this a bit more.

My use case is that I want to let a user fill in the Swagger parameter values (or cal

[2017-08-24 09:44] barrynl commented on #65
Another issue with supporting Updates through GRLC is whether users should also generate the unique URIs themselves (which requires a bit of Semantic Web knowledge) or would GRLC do this for them.

The longer I think about this issue, the less sure I am that it fits GRLC.

Regards, Barry

[2017-09-25 11:46] albertmeronyo commented on #63
I'm assuming @barrynl 's suggestion solved this issue.
@ehrmama let me know otherwise and I'll reopen/investigate. Thanks!

[2017-09-25 11:46] #63 closed

[2017-09-25 12:01] albertmeronyo commented on #58
Closing since not a grlc's bug (but ambiguous endpoint-side processing)

[2017-09-25 12:01] #58 closed

[2017-09-25 12:02] #53 closed

[2017-09-25 12:02] #49 closed

[2017-09-25 12:06] albertmeronyo commented on #47
@trevorlazarus I'm assuming this solved your question and closing, let me know otherwise.

[2017-09-25 12:06] #47 closed

[2017-09-25 12:30] albertmeronyo commented on #24
@DimitrisAlivas could you point to a repo with such structure? I'm trying to recreate the issue, thanks!

[2017-09-25 12:31] albertmeronyo commented on #8
@rijpma are these working now? Thanks!

[2017-09-25 12:31] #16 closed

[2017-09-25 12:32] #21 closed

[2017-09-25 12:33] albertmeronyo commented on #32
This has been indirectly fixed by the addition of commit-specific specs (now invoking an API with no specific hash will generate the spec for the latest version)

[2017-09-25 12:33] #32 closed

[2017-09-25 12:36] albertmeronyo commented on #25
Thanks for these @RinkeHoekstra !
Your queries 22 and 23 work now, but 14 won't since grld does not support DESCRIBE (yet).

I'm opening a separate issue for this. Thanks!

[2017-09-25 12:36] #25 closed

[2017-09-25 12:37] albertmeronyo opened #66 "Support for DESCRIBE queries"
Currently DESCRIBE queries are not supported. There's an example at query 14 in https://github.com/RinkeHoekstra/semanticweb-sparql-queries

[2017-09-25 12:39] albertmeronyo commented on #41
https://github.com/CLARIAH/grlc/commit/3de485f7fe0ee684800723048c53bfd8dc0a72ed added a generic trailing processing of extra metadata, considering fixed

[2017-09-25 12:39] #41 closed

[2017-09-25 13:33] ehrmama commented on #63
Hello, yes, sorry for the late reaction (summer in between), the suggestion of @barrynl solved the issue indeed. I ended up parsing all my queries with the same python library as yours in order to validate them (although they were doing fine on virtuoso).
Many thanks for the support and the tool!

[2017-09-26 06:38] reinvantveer commented on #58
👍

[2017-09-26 11:49] DimitrisAlivas commented on #24
@albertmeronyo Hey Albert. Our trump repo used to have such a structure but Kathrin changed it.

In order to recreate the issue you just need a folder within a repository named "queries".
If you check https://github.com/TRUMP-project/documentation, apart from the folders named "data" etc I had a "queries" folder to store queries and that's when I encountered the issue!
Hope it helps :)

[2017-09-26 14:46] albertmeronyo commented on #8
@rijpma The problem is indeed that the first query misses the #+ summary: marker. grlc could ignore such lines, but the fact that the query fails also signals there's something wrong. What would be your preferred behavior?

[2017-09-26 21:05] rijpma commented on #8
Mostly I figured that new users would expect their query to show up even if they had a comment on the first line without a summary tag. So the preferred behaviour IMO would then be to fetch and show the query, but not show a summary.

[2017-09-27 07:20] albertmeronyo commented on #8
Makes sense, thanks! The next commit fixes it. If the yaml part is invalid (i.e. misses the 'summary:' as in the example) the metadata generation will be skipped, but the query will still show up in the API spec. There's now a log warning message saying as much.

[2017-09-27 07:21] #8 closed

[2017-09-27 15:01] rlzijdeman commented on #7
a good thing about the current setup is that you can copy paste the entire query and execute it in say yasgui. (the endpoint needs to be specified anyway). if you put part of the prefixes somewhere else, you 'disrupt' that feature

[2017-09-27 15:03] rlzijdeman opened #67 "time required for grlc to reload new queries"
Hi, I just changed my uri's. Github sees the new URI's, but grlc doesn't (by which I mean that if I visit http://grlc.io/api/CLARIAH/wp4-queries-hisco/) I still see the old queries.

Can you add some vague estimate on how long it will take for grlc to 'refresh' or whether this maybe happens just once every 24h?

[2017-09-28 12:59] rlzijdeman opened #68 "issue retrieving query from Druid"
Hi,

none of the queries from my grlc repo [1,2] are working since the endpoint [3] is pointing towards Druid. When copy-pasting the queries and executing them from the endpoint [4] it works just fine.

@LaurensRietveld , @albertmeronyo any ideas on what might go wrong here?

[1] https://github.com/CLARIAH/wp4-queries-hisco

[2] http://grlc.io/api/CLARIAH/wp4-queries-hisco/

[3] https://api.druid.

[2017-09-28 13:08] rlzijdeman commented on #68
solved! the endpoint file contained a comment which is probably not allowed.

[2017-09-28 13:08] #68 closed

[2017-10-06 13:35] c-martinez opened #69 "Use PyGithub to access github API"
https://github.com/PyGithub/PyGithub

[2017-10-06 13:39] c-martinez opened #70 "Query builder"
Perhaps it would be a good idea to have a query builder which could help users to:

 - Create their sparql query
 - Export to github
 - Create a grlc api to access results from their query

Suggested by @jwassenaarbg

[2017-10-06 14:19] c-martinez commented on #67
grlc downloads queries from the `https://raw.githubusercontent.com/`, and there is some caching going on there. I think it is about 24 hours indeed.

I am guessing that you were trying to update a query more frequently? Was that during a debugging cycle? If so, would a query validation be useful *before* you push your query to github?

[2017-10-07 07:30] rlzijdeman commented on #67
Thanks for the response @c-martinez ! I have added this question as a FAQ to the wiki. (Feel free to remove, if you think it's irrelevant).

[2017-10-07 07:30] #67 closed

[2017-10-07 07:32] rlzijdeman opened #71 "try it out in yasgui instance"
Would it be possible that:
- if you click 'try it out' you open an instance of yasgui in which the result is 'run'
- or, because you don't want to people leave the grlc page to add a button 'edit query' which then directs you to yasgui?

Best,

Richard

[2017-10-11 14:03] c-martinez opened #72 "Hide endpoints"
Suggestion by @jblom:

It might be a good idea to hide your SPARQL endpoint (and, for instance, pass it in as a parameter to the api generated by grlc). In this way, we can keep API's hidden from the outside world.

[2017-10-11 14:29] c-martinez commented on #71
Hi Richard,

Could you explain a bit more what do you mean "Try out in Yasgui" ?

[2017-10-13 10:51] rlzijdeman commented on #71
Hi @c-martinez sorry for the delay, I've edited my initial comment.

[2017-10-13 11:47] c-martinez commented on #71
I see which 'Try it out' button you mean. I don't think that is possible as the page is automatically generated through swagger. Perhaps @albertmeronyo has a different opinion?

[2017-10-19 14:14] rlzijdeman opened #74 "add download as .csv / excel option"
Hi, this one is from the DEMO at the CREATE workshop at UVA (see https://www.slideshare.net/rlzijdeman/grlc-store-share-and-run-sparql-queries). We kind of succeeded in running a grlc flavoured sparql query, without any prior knowledge of github nor SPARQL. However, the 'try-it-out' button only provides part of the output, and people would like to download the result as .CSV. Perhaps something for

[2017-10-24 09:37] albertmeronyo opened #75 "Link for forcing reload to the latest commit"
Add this directly to the API spec

[2017-10-24 11:09] albertmeronyo opened #76 "Endpoint name as parameter for endpoint agnosticism"
Thanks @tkuhn !!

[2017-10-24 11:12] albertmeronyo opened #77 "Bundle together with triplestore in docker container"
For protecting the endpoint

Actually works already! Thanks @tkuhn !

[2017-10-27 06:36] ma-garcia opened #78 "Problems running grlc locally"
I am trying to run locally grlc so I followed the instructions to install it via Docker. I didn't have any problem during the installation and the application is up un running at http://localhost:8001 as it is says in the documentation. My problem is that no matter what repos I try to load, I get the same error on the screen:

`500 : <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN"> <title>5

[2017-10-27 10:52] albertmeronyo commented on #78
Hi @ma-garcia ! Thanks for using grlc.
It seems this is related to the access token your grlc instance uses to send requests to GitHub, since you're getting 401 responses to those.

Could you please try the following:
- Get a GitHub personal access token. You'll find them in the web interface: go to your profile, then *Settings*, then *Developer settings*, *Personal access tokens*, and *Generate n

[2017-10-27 12:44] ma-garcia commented on #78
That fixed the problem, thanks.

[2017-10-27 12:44] #78 closed

[2017-11-01 13:28] c-martinez commented on #14
I believe this is fixed with the `enumerate` key word on the grlc header. Closing.

[2017-11-01 13:28] #14 closed

[2017-11-01 14:50] c-martinez commented on #76
This is also related to #72

[2017-11-01 15:38] c-martinez opened #80 "Test queries locally"
When writing queries, I find that pushing to github -> waiting for github to update -> refreshing grlc.io, takes too long. Perhaps this is also the issue behind #67 ?

One way to work around this would be to have a way to run grlc locally, and have grlc look at a local folder.

[2017-11-01 15:54] c-martinez opened #82 "Pre defined enumerations"
Currently, grlc builds enumerations by querying the sparql endpoint. This works fine, but it relies on the endpoint to be able to generate a list of enumeration options.

It would be nice to be able to specify on the grlc header the available options on for the enumeration.

[2017-11-03 08:58] c-martinez opened #84 "git2prov ?"
I'm not 100% sure why grlc needs git2prov. I understand it is nice to have full provenance of queries, but I don't like too much the fact that it adds an additional non-python dependency -- git2prov.

Is this a feature grlc really needs?
If yes, is there a python alternative (a python version of git2prov?)

[2017-11-03 09:58] c-martinez opened #85 "Zenodo DOI for grlc"
It is possible to add a DOI for each release of grlc, via [zenodo](https://zenodo.org/). This [guide](https://guides.github.com/activities/citable-code/) shows how to do it. I think this would be a good way to add visibility to grlc (I know for me it would be useful).

I can take care of adding a DOI, but I would need approval from someone with administrator rights at the CLARIAH github organizati

[2017-11-13 13:47] albertmeronyo commented on #85
That would be great! We need to sync that with the version and release policy in terms of version tags -- also to make it consistent with the version we have in pypi (which I think is pretty old).

Thanks for the idea!

[2017-11-13 21:52] c-martinez commented on #85
Good -- I'll request approval and then when we make a new release, we can also update pypi (and maybe check docker image too?)

[2017-11-14 22:23] c-martinez commented on #85
Will start the process...

[2017-11-22 09:12] rlzijdeman opened #87 "xpath queries"
Hi, I remember to have seen a question like this before, but couldn't find the issue: Would grlc allow the support of other query languages, especially XPATH queries?

[2017-11-28 08:34] #85 closed

[2017-11-28 08:37] #72 closed

[2017-11-28 08:42] albertmeronyo commented on #76
about letting the API dynamically request the same operation to different parametrized endpoints. Something like

`curl -X GET http://grlc.io/api/myrepo/myop?endpoint=http://myendpoint1`
`curl -X GET http://grlc.io/api/myrepo/myop?endpoint=http://myendpoint2`

This would imply reserving the `endpoint` parameter name (something we're already doing for pagination with `page`)

[2017-12-08 09:44] RinkeHoekstra opened #90 "Make use of non-Github, local repositories more sensible"
For instance:

* URI patterns with `/api/local/local` make no sense
* There should be a way to use grlc without depending on GitHub at all
* There are other VCS' out there that could be useful to support, e.g. GitLab

[2017-12-08 09:47] RinkeHoekstra opened #91 "Support endpoint authentication"
As it is quite common to have restricted access to SPARQL endpoints, there should be an easy way to set HTTP Basic authentication parameters in the config file that are then passed through SPARQL HTTP requests for the default SPARQL endpoint.

[2017-12-19 23:21] stevencox opened #92 "Getting Started"
Grlc looks awesome.

I'm hitting some rough spots and could use some pointers.

When I create [this repo](https://github.com/stevencox/green-grlc) and point grlc at it, the API UI page, instead of a normal controller name, says "Oh Yeah" and does not present an actual "Try It" endpoint.

What's wrong with my queries?

Also, when I pip install:

* It failed with a permission denied message (see bel

[2018-01-17 15:42] reinvantveer opened #93 "https support"
Seeing https://github.com/CLARIAH/grlc/blob/0fcf7b629f1b9b34987947c83da066ed6eabb0fe/src/prov.py#L28 the server_name is hardcoded to reference a http address. Our environment is on https, so the browser won't load resources in the OpenAPI spec page on api/{user}/{collection} using the "try it out!" button. The non-https content is blocked.

[2018-01-17 16:05] reinvantveer commented on #93
BTW the browser error:
[code]

[2018-01-19 14:55] c-martinez commented on #92
Hi @stevencox,

It seems like you second query works fine, but your first query doesn't show up when I [try to generate an API](http://grlc.io/api/stevencox/green-grlc).

If I interpret your query correctly, you want `?diseaseID` to be an input parameter for your query? In that case, you need to define your parameter using an underscore: `?_diseaseID` (basil syntax). So your query would look like

[2018-01-25 08:12] albertmeronyo commented on #92
Thanks @stevencox !

Your second query works fine, i.e. I get results at http://grlc.io/api/stevencox/green-grlc/second
But grlc cannot generate a spec for your repo because of your first query. Can you try @c-martinez suggestions and report back?

I haven't installed grlc via pip on a mac but will try asap. @stevencox can you confirm? Also, can you try if pip installing in a virtualenv makes any

[2018-01-25 14:24] albertmeronyo opened #94 "Support for CONSTRUCT queries"

[2018-02-02 12:14] c-martinez commented on #90
Hi @RinkeHoekstra, looking at this just now. Couple of questions:

 - URI `/api/local/local` was added to load grlc queries from local computer -- I found this feature useful to be able to check / modify queries before pushing them to github and to not rely on github. Could you explain a bit more why this doesn't make sense?

 - You are absolutely right about there being other VCS'. Would you know

[2018-02-16 10:38] c-martinez commented on #91
Good point @RinkeHoekstra -- we could consider going back to using SPARQLWrapper and use their http auth (`wrapper.setCredentials(user, passwd)`). As I remember (from #33) the issue with SPARQLWrapper was lack of support for content type plaintext. I'll look into it.

[2018-02-16 11:56] RinkeHoekstra commented on #91
You can also pass auth=(user,pass) to a requests get or post.

Sent from my iPhone

[2018-02-16 13:03] c-martinez commented on #33
Sent a [PR](https://github.com/RDFLib/sparqlwrapper/pull/98) to SPARQLWrapper to support `text/csv` format

[2018-02-16 13:48] c-martinez commented on #76
Addressed by PR #96

[2018-02-19 08:00] tkuhn commented on #76
Awesome! This isn't supported via the GUI yet, or is it?

[2018-02-19 08:08] albertmeronyo commented on #76
@tkuhn that's a good one. It won't pop up in the GUI since this isn't treated as an always-on parameter (although according to what I see in the code it is)
@c-martinez if this is always the case, should we do something among the lines of https://github.com/CLARIAH/grlc/blob/master/src/utils.py#L89 ?

[2018-02-19 08:55] c-martinez commented on #76
Could work, but that would mean one of the two:
a) It is always on, so parameter field always shows
b) It needs to be turned on, so we need to add a header for it.
`#+ endpoint_via_url: true`
Which one would we prefer?

[2018-02-19 09:08] albertmeronyo commented on #76
I would have a preference for (a), since the parameter is there anyways.
Or perhaps even better: what about (c), in which we only ask the parameter's value (and make it mandatory), if there's no <pre>#+ endpoint: foo</pre> value, and there's no endpoint.txt file? Such a query would indeed need an endpoint name as parameter.

[2018-02-19 10:25] c-martinez commented on #76
Also possible. But then endpoint_in_url cannot be used to override endpoint_in_header or endpoint_in_file. Is that what we want?

[2018-02-19 10:28] albertmeronyo commented on #76
I would say so. Otherwise, you could have an endpoint.txt endpoint, a decorator endpoint, and a parameter endpoint, and although this would be fine because we establish a preference, I think from the user perspective it's nice to be clear about whether the query is something 'generic' (i.e. no specific endpoint in mind) or not.
I guess this is very much user-taste dependent. @tkuhn Do you have tho

[2018-02-19 10:33] tkuhn commented on #76
I have a slight preference for (a), which would allow for a default endpoint but still the flexibility to change. But I also see that in some circumstances, you might not want such an option to be around...

[2018-02-19 13:14] c-martinez commented on #76
We could have a solution between a) and b) : always on, unless specifically disabled with a header `#+ disable_endpoint_via_url: true` ?

[2018-02-19 14:35] albertmeronyo commented on #76
I like this compromise very much! :)
But I'd say disabling explicitly is of lower priority than the GUI.
So I would say, we make the endpoint parameter always visible but optional (i.e. calls that do not have it should proceed normally with the endpoints at decorator > repo > default)
For the disabling header, maybe we can open a new ticket?

Thanks!

[2018-02-20 17:05] c-martinez commented on #76
Don't think we need a new ticket for the header issue. It is not too difficult to implement. Only thing:
[code]
Header name looks really ugly -- any suggestios?

[2018-02-21 14:02] c-martinez opened #97 "turtleize not used ?"
https://github.com/CLARIAH/grlc/blob/c6e1f952fa6cc2f7774c1077f74bda76e6cda07d/src/utils.py#L13-L20

Is this used? And if it is, should it do something with the `swag` object being passed in?

[2018-02-21 14:34] c-martinez commented on #74
Just realized while doing a little bit of cleaning up, this is [already supported](https://github.com/CLARIAH/grlc#features):

*URL-based content negotiation: you can request for specific content types by attaching them to the operation request URL, e.g. http://localhost:8088/CEDAR-project/Queries/residenceStatus_all.csv will request for results in CSV.*

[2018-02-21 14:34] #74 closed

[2018-02-21 14:45] albertmeronyo commented on #97
That's an empty turtle graph! :dancer:

The original idea was to be able to return a [LDA](https://github.com/UKGovLD/linked-data-api/blob/wiki/Specification.md) compatible specification of that contained in the OpenAPI JSON.

This is from the times in which we were considering adding Linked Data features *on top* of grlc (instead of its more current role of "hiding" them). Should be safe to remov

[2018-02-27 06:12] tkuhn opened #101 "Special characters in literal values entered in the UI are not escaped"
When I enter a string containing a quote character (") in the UI for a literal parameter, I would expect it to get escaped when the final SPARQL query is built. Instead, it seems that it is inserted without any checks and that an invalid SPARQL request is sent to the server, which then responds with "500 Internal Server Error".

[2018-03-05 14:45] tkuhn opened #104 "GUI always shows "Accept: application/json""
The GUI always shows "Accept: application/json" with the results, no matter which content type for the response was actually chosen and used.

![screenshot from 2018-03-05 15-43-37](https://user-images.githubusercontent.com/684096/36980954-1d8d8822-208c-11e8-8441-6691013483d9.png)

[2018-03-05 15:22] albertmeronyo opened #105 "Use swagger from CDN or import instead of having it hard-copied in the repo"
Would automagically upgrade API doc layouts to the newer and cooler (and simpler) versions of Swagger/OpenAPI

Beware hard changes we've made to Swagger files (e.g. 'Oh yeah?' link)

[2018-03-21 15:33] rlzijdeman opened #107 "Within repo id"
Please add an ID to each query inside a repo, so it’s possible to refer to specifica queries.

[2018-04-17 09:36] albertmeronyo opened #111 "YAML cool syntax and github layout"

[2018-04-17 09:36] albertmeronyo opened #112 "API change in commits - remove /blob/ in query execution"

[2018-04-19 07:55] albertmeronyo opened #113 "Double parsing of metadata and parameters"
When creating the spec we're currently parsing the queries 2 times: one for the 'metadata' (decorators and projection variables mainly), and another for 'parameters' (SPARQL variables like ?_var).
This is inefficient and adds a pile of extra logging!

[2018-04-19 09:01] #113 closed

[2018-04-19 12:09] #94 closed

[2018-04-19 12:10] #97 closed

[2018-04-19 12:11] albertmeronyo commented on #107
Hi @rlzijdeman I'm note quite sure I understand. Queries are unique to a given repo by filename (you can't have two files with the same name in the same repo). Isn't the query name already a query ID?

[2018-04-19 12:11] #111 closed

[2018-04-20 04:54] rlzijdeman commented on #107
Hi @albertmeronyo,
From the repo, e.g. https://github.com/CLARIAH/wp4-queries-hisco you can indeed refer to the file names. But from the 'grlc-view' e.g. http://grlc.io/api/CLARIAH/wp4-queries-hisco you cannot. Solvable if you understand that the grlc view is build from the repo, but not sure if that's easy for everyone. (and we now allow for two different extensions, right?, so it's not simply ad

[2018-05-02 10:30] rlzijdeman opened #114 "drop-down menu for possible values"
Hi, it's possible to add 'variables' to grlc queries, e.g. for your or housing type. However, to run such a query in grlc, all values must be filled out. 2 problems / suggestions:
(1) could you have a default value filled out (so you don't have to click all the variables)
(2) it requires some knowledge to fill out certain values for these variables (e.g. for year you'd need to know what time perio

[2018-05-24 03:32] amrapalijz opened #116 "Critical worker timeout"
When I run the docker compose command, i get these messages with critical worker timeout and I cannot get localhost:8088 to wor:

`➜  grlc git:(master) ✗ docker-compose -f docker-compose.default.yml up
Starting grlc_grlc_1 ... done
Attaching to grlc_grlc_1
grlc_1  | + map_uidgid
grlc_1  | + echo 'Mapping UID/GID'
grlc_1  | Mapping UID/GID
grlc_1  | ++ id -u grlc
grlc_1  | + USERMAP_ORIG_UID=1000
g

[2018-05-25 12:14] barrynl commented on #116
I am experiencing the same issue and I also noticed how grlc's docker image takes up about 2Gb of memory.

[2018-05-25 12:18] rlzijdeman commented on #116
Dear @amrapalijz and @barrynl ,

thank you for noticing AND reporting this issue. At the moment, we have little resources to look into this issue, but we'll report back over the course of next week.

Best,

Richard

[2018-05-25 12:45] barrynl commented on #116
Thanks Richard.

For now I've reduced the number of workers in the file 'gunicorn_config.py' from 100 to 5. Then  the application starts working again and the memory is reduced enormously.

Gunicorn recommends to start with (2 x $num_cores) + 1 workers.
See: https://stackoverflow.com/questions/25364336/about-the-optimal-number-of-gunicorn-workers

Regards, Barry

[2018-05-26 19:55] amrapalijz commented on #116
I changed the number of workers in the file too but I still get the
grlc_1 | [2018-05-24 03:03:53 +0000] [51] [CRITICAL] WORKER TIMEOUT (pid:68)
error. Should I change some thing else?

[2018-05-30 10:05] albertmeronyo commented on #116
Thanks @amrapalijz @barrynl for reporting this.
Indeed, this high number of workers was due to a stress test and we should have changed it back after. I just did that. The image is rebuilding in docker hub.
@amrapalijz you might be running your old docker image after changing the gunicorn file. Can you retry doing first `docker-compose -f docker-compose.default.yml build --no-cache` ?

[2018-05-31 09:48] amrapalijz commented on #116
Yes, now it works.

[2018-06-08 10:53] albertmeronyo opened #118 "Include in the spec queries that failed to parse"
grlc will always fail to parse some queries like [this one](https://github.com/naru44/SPARQL/blob/master/EnergyConsumptionPerCapita.rq) because they contain endpoint specific features (e.g. bif functions for Virtuoso). We should just skip the parsing of parameters, etc. for those and include them as plain SELECTs in the spec/execution

[2018-06-08 10:54] #118 closed

[2018-06-14 08:35] egonw opened #120 ""you can find an example of how to run grlc natively here" link broken"
The README,md has about halfway a line "you can find an example of how to run grlc natively here" with a link under the "here"... but that link gives a 404: https://github.com/CLARIAH/grlc/blob/master/docker-build/entrypoint.sh#L20

[2018-06-14 12:52] kidehen opened #122 "JSON Documentation Discovery"
How do I find the URI that identifies the JSON rendition of the OpenAPI documentation for each API produced by your solution? Ideally, you would have an icon placed somewhere in the HTML-based interaction console [1] combined with other discovery techniques such as the <script/> script or @rel in HTML and HTTP respectively.

[1] https://osdb.openlinksw.com/osdb/api/console

[2018-06-14 13:42] c-martinez commented on #122
JSON representation of `http://grlc.io/api/albertmeronyo/lodapi/` can be found here `http://grlc.io/api/albertmeronyo/lodapi/spec` -- is this what you are referring to?

Yes, other discovery techniques would be nice. Grlc is using a relatively old version of swagger-ui, as pointed out by issue #105 -- so it is definitely an improvement which should be implemented. Pull requests on this direction w

[2018-06-14 16:49] kidehen commented on #122
@c-martinez ,

This relates to bug at: https://github.com/CLARIAH/grlc/issues/64 .

[2018-06-26 18:23] c-martinez opened #124 "Unused `addApiKeyAuthorization`"
@albertmeronyo -- is this code used:

https://github.com/CLARIAH/grlc/blob/master/src/templates/api-docs.html#L93-L108

When loading `http://grlc.io/api/albertmeronyo/lodapi` it is throwing:

[code]

I think it is because `input_apiKey` does not exist. I think it is unused code and could be removed.

[2018-06-27 07:09] albertmeronyo commented on #124
Thanks @c-martinez for catching this. I think it's old code for passing the Swagger validation; possibly related to #64
But indeed should be safe to remove for now

[2018-06-27 15:04] #105 closed

[2018-06-27 15:10] c-martinez commented on #122
@kidehen -- #123 has now been merged (although not yet deployed at `grlc.io`). Do you have a local grlc instance where you could check if this meets requirements for JSON discovery ? If not, we might need to wait until it is deployed and we can then check and see if we can close this issue.

[2018-06-27 15:53] kidehen commented on #122
@c-martinez ,

I don't have a local instance, so just notify me when its deployed publicly and I can then repeat my tests.

[2018-06-28 08:02] albertmeronyo commented on #122
Hi @kidehen @c-martinez thanks for looking into this.
I deployed but rolled back, since I spotted a number of bugs I did not catch before the merge. Hopefully we can re-deploy soon.

[2018-06-28 08:28] #124 closed

[2018-06-28 14:33] c-martinez opened #126 "Debugging SwaggerUI"
Some issues spotted following #123:

- [x] The routes at the API docs miss the trailing "/", so when you "Try it out" requests go to grlc.io/api/user/repoop instead of repo/op and thus fail
- [x] Some CSS seem missing -- the footer links to "Oh yeah" and previous and next spec version links do not have styles
- [x] Also when "trying out" calls, the form fails to validate some parameters even if th

[2018-06-29 05:07] c-martinez commented on #126
Fixes:
 - Path names now start with `/`
 - `literal` strings are changed to type `string` in order for validation to work
 - Pushing changes to branch `dev` @albertmeronyo -- can you setup a test instance base on `dev` branch?

Indeed -- no CSS for footer links (because it is not part of the SwaggerUI block -- we can add some custom CSS.

Not sure which resource is failing to load -- could you giv

[2018-07-01 05:59] c-martinez commented on #126
Added CSS to `oh yeah?`, `prev` and `next` buttons.

[2018-07-01 06:04] c-martinez commented on #126
Merged #127 -- ready for deploying on test instance.

[2018-07-04 09:04] c-martinez commented on #93
I believe the line mentioned just causes the provenance trace to say grlc.io runs on http: `<http://grlc.io> a prov:Agent`. It should not affect calls to the sparql endpoint being http or https.

I tried the example query provided, and got a result (and empty set, but the connection to sparql endpoint was successful). The curl command generated was:

```curl -X GET --header "Accept: application/js

[2018-07-04 12:03] reinvantveer commented on #93
Hi, no it's still not working from the browser.

To reproduce:
https://data.labs.pdok.nl/api/StanRonzhin/TableauIntegration
click the second "PandenForBuurt" item, fill in "Twekkelerveld":

``
Content Security Policy: The page’s settings blocked the loading of a resource at http://grlc.io/api/StanRonzhin/TableauIntegration/PandenVoorBuurt?buurtNaam=Twekkelerveld (“connect-src”).
``
This is probabl

[2018-07-04 12:04] reinvantveer commented on #93
I don't seem to have proper permissions to re-open the issue.

[2018-07-04 13:58] c-martinez commented on #93
Ok -- you have your own instance of grlc running over https (I had not understood that part). I think I've figured out what is the issue (and spotted another one):

In `utils.py`, there is a line `swag['schemes'] = [ 'http' ]` which defines how are OpenAPI request's built. You can change that to `swag['schemes'] = ['https']` to make sure calls are always made over https. Or (probably even better)

[2018-07-05 06:50] albertmeronyo commented on #126
Awesome, thanks for all these @c-martinez !
I've set up a dev instance at http://dev.grlc.io/ :
- Pushes to the :dev branch trigger image builds at docker hub
- Every night at 1am the latest dev image at docker hub is pulled in the server and the image is restarted

If you need me to force this last one please let me know!

[2018-07-05 07:18] reinvantveer commented on #93
@StanRonzhin we're trying to resolve this issue but it means some downtime on the Tableau web data connector. Are you using it at the moment?

[2018-07-05 14:06] c-martinez commented on #122
@kidehen -- we now have a `dev.grlc.io` version deployed, which uses a more recent version of SwaggerUI. When you load, for instance `http://dev.grlc.io/api/albertmeronyo/lodapi`, this version provides already a link to `/api/albertmeronyo/lodapi/spec` at the top.

Could you check it out and let us know if this already what you expected? We can then close this issue.

[2018-07-06 11:56] StanRonzhin commented on #93
since grlc did not work I used pure sparql to get the data to Tableau in the connector.
Therefore, I don't use grlc for the moment. but it would be useful to have it at labs.

[2018-07-06 12:12] reinvantveer commented on #93
:+1: So I did a fresh pull from grlc. The interface on https://data.labs.pdok.nl/api/StanRonzhin/TableauIntegration is now showing a different error message.
@c-martinez do you recognize this? There is a very elaborate YAMLexception stack trace. I assume it has to do with the way the spec is built and sent to the application. Any ideas on how to fix? Our grlc container isn't logging any errors.

[2018-07-06 14:10] c-martinez commented on #93
I think this is due to an issue with the new version of SwaggerUI and the spec being build. I imagine you checked out the master branch? Could you pull the dev branch? That should work (and hopefully we will merge dev to master soon.

[2018-07-09 11:07] reinvantveer commented on #93
Thanks, the UI now loads fine, but the requests on https://data.labs.pdok.nl/api/StanRonzhin/TableauIntegration still try to query from https://grlc.io instead of https://data.labs.pdok.nl

The config.ini looks like:
[code]

So, looks like we're nearly there, but not quite!

[2018-07-09 11:39] c-martinez commented on #93
Ok, getting closer...

Out of curiosity: how are you starting your grlc instance? docker?

[2018-07-09 14:37] reinvantveer commented on #93
Yes. The contents are added to the container during build.

[2018-07-09 16:21] c-martinez commented on #93
I see -- the issue was that the server name was not configurable on the docker image -- latest dev version fixes this. Could you try it out?

If possible, make sure it works, maybe a good idea to remove docker images (`docker rm grlc_grlc_1` and `docker rmi clariah/grlc`) to avoid it using a docker image from a previous build.

[2018-07-10 09:53] reinvantveer commented on #93
Yes, that did it!
@StanRonzhin can you see why the queries are not returning any results? Is it due to some error in the query?

[2018-07-10 10:36] c-martinez commented on #93
Great! Good to know. I'll close this issue then.

I was not sure if you needed to remove the images, but I usually do just to be sure.

[2018-07-10 10:36] #93 closed

[2018-07-11 10:07] c-martinez commented on #126
Thanks for setting it up @albertmeronyo !

But actually, I'm not sure if it is building the image properly -- description box on `http://dev.grlc.io/api/albertmeronyo/lodapi/` looks like a black box, but this was solved in #130, and should look like this:

![image](https://user-images.githubusercontent.com/7782231/42565026-99f13bfe-8502-11e8-8ee4-dda155a6d1f4.png)

Could you maybe have a look?

[2018-07-11 15:49] #120 closed

[2018-07-16 12:42] albertmeronyo commented on #126
Funny - I just forced a pull + restart and the issue persists. But if I build the image locally everything looks fine.
Maybe an issue with the automatic builds at docker hub?

[2018-07-16 14:37] c-martinez commented on #126
I think it is fixed -- did you clear your browser cache after restart? Not sure what the issue might be.

[2018-07-31 15:08] rlzijdeman opened #133 "endpoint.txt not read?"
Hi, http://grlc.io/api/clariah/wp4-queries-hisco defaults to the endpoint of dbpedia, but in the repo an endpoint is definitely provided. (I just added a new endpoint, but this issue also occurred with the old endpoint). Is grlc not able to read the text file with the endpoint?

[2018-08-01 13:02] c-martinez commented on #133
Hi @rlzijdeman -- I think this is a bug which was already fixed but not yet merged.

Could you have a look at the dev branch: http://dev.grlc.io/api/clariah/wp4-queries-hisco -- see if it works correctly there?

[2018-08-02 07:26] c-martinez commented on #126
Can't find which is the resource not loading anymore, I think this is fixed. Closing issue.

[2018-08-02 07:26] #126 closed

[2018-08-02 07:28] c-martinez commented on #133
I think we can merge it this week still. I'll send a PR to merge to stable and wait for @albertmeronyo to merge it. Otherwise, I think we can close this issue?

[2018-08-02 07:33] c-martinez commented on #133
PR sent #134

[2018-08-02 10:35] albertmeronyo commented on #133
I just merged, the updated image should be in production in a couple of minutes.
Can I ask everybody to keep their eyes open for issues after this?

[2018-08-09 14:08] egonw opened #136 "validation error in OpenAPI UI for string literals"
I have created a [demo API for WikiPathways](https://github.com/egonw/wp-rdf-api) where I am trying to use a `xsd:string` literal parameter. In the SPARQL, the typing is important, because without the explicit typing, Virtuoso does not result any data... but that's not the problem... the OpenAPI GUI currently gives me a validation error...

So, I have the following annotated SPARQL:

[code]

Debug

[2018-08-16 09:39] c-martinez commented on #104
This has been fixed by #123.

[2018-08-16 09:39] #104 closed

[2018-08-16 13:17] c-martinez commented on #136
Indeed this is a bug -- PR #135 should fix it.

In the mean time, as a workaround: if change your variable to `?_pwId`, then the type should default to `string` and you should be able to get through validation.

[2018-08-16 13:26] egonw commented on #136
I think I'll wait for the PR, because with just `?_pwId` the SPARQL does not match the explicitly typed RDF structure (which I guess it actually should...)

[2018-10-08 21:46] albertmeronyo opened #139 "pip release: ci autoupdate with latest master source"
Also add documentation to pypi page

[2018-10-08 21:49] albertmeronyo opened #140 "pip release: default values"
By default, spec construction called as a utils function (so using grlc as a python lib) shouldn't require:
- auth token in config.ini
- git2prov
- prov object as parameter

[2018-10-09 08:42] c-martinez opened #141 "Tutorial"
We should have a tutorial showing:
 - How to use grlc as webservice
 - How to use grlc from a notebook

[2018-10-09 09:11] c-martinez opened #142 "Security issue"
Github says Flask needs to be updated.

[2018-10-09 10:02] c-martinez commented on #142
Fixed by #143 . `dev` branch to be merged into `master`.

[2018-10-09 14:02] #136 closed

[2018-10-09 14:02] #142 closed

[2018-10-09 14:02] albertmeronyo opened #147 "ldf interface not working"

[2018-10-09 14:03] albertmeronyo opened #148 "add parameter examples in lodapi example api"

[2018-10-15 08:14] albertmeronyo opened #150 "Swagger-ui does not validate parameter types correctly"
For API methods that have an IRI
argument that is required, for example

- http://grlc.io/api/peta-pico/nanopub-api/#/default/get_get_nanopub
-
http://grlc.io/api/peta-pico/nanopub-api/#/default/get_find_nanopubs_with_uri

the user interface complains about the required argument (marks it in
red) and doesn't allow me to execute the query even after entering a
fully valid IRI.

[2018-10-15 15:28] c-martinez commented on #150
Seems like swagger data-types does not validate IRI's: https://swagger.io/specification/v2/

It might work to replace
[code]

For something like:
[code]
But then we need a regex pattern for validating iri's (or leaving it blank and allow anything). I would be inclined to do that and just make it the user's responsibility to provide a valid IRI.

[2018-10-15 17:54] rlzijdeman commented on #150
Hi @c-martinez, this is a bit of a shot in the dark, but would this be of help?
https://github.com/CLARIAH/iribaker

[2018-10-16 08:09] c-martinez commented on #150
Long shot indeed. `iribaker` is not directly what we need, but we could

 - Modify `iribaker` to have a validate function (it already does but we could modify it to be able to use it externally
 - Add iri validation to `grlc` (I believe we can change the swagger specification so that it uses a validation endpoint).

The question is: is it crucial for grlc to validate iri's? Is it a nice-to-have? I

[2018-10-16 13:58] rlzijdeman commented on #150
"It's not directly what we need" -> provides enough reason not to use it :)

[2018-10-16 14:11] albertmeronyo commented on #150
Thanks @c-martinez @rlzijdeman for your suggestions!
I agree that iribaker does not directly solve the problem, but might give us directions into how to solve it.

For the time being I would just
- leave iris as strings as per @c-martinez suggestion, but I wouldn't add any additional validation requirements (we might end up implementing the whole RFC :-) ).
- look into openAPI's documentation for

[2018-10-17 09:45] albertmeronyo commented on #150
Fixed this in dev.grlc.io as per @c-martinez suggestion. A parameter's `type` should never be 'iri' anyways (MUST be one of "string", "number", "integer", "boolean", "array" or "file" as per https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#parameterObject), so now SPARQL variables that should be replaced by IRIs are specified as parameters with

`
type: string
format: iri
`

[2018-10-17 10:40] #150 closed

[2018-10-18 12:03] albertmeronyo commented on #141
Working on it [here](https://github.com/CLARIAH/grlc/wiki/Quick-tutorial)

[2018-10-25 07:00] albertmeronyo commented on #141
I just finished the [quick tutorial](https://github.com/CLARIAH/grlc/wiki/Quick-tutorial) @c-martinez @rlzijdeman Do you want to have a look?

I'm updating the list of tutorials since the previous one shows the need for more :)

- How to use grlc as webservice <-- @c-martinez I don't remember what we meant by this, can you refresh my memory? :)
- How to use grlc from a notebook
- How to use all qu

[2018-10-25 07:41] c-martinez commented on #141
Hey @albertmeronyo -- nice work! I'll have a look later this week.

I think by 'grlc as a webservice' we meant executing a SPARQL query by calling a url: `http://grlc.io/api/albertmeronyo/my-linked-data-api/myquery?endpoint=http%3A%2F%2Fdbpedia.org%2Fsparql`

And by 'grlc from a notebook' we meant executing a SPARQL query bg doing something like
[code]
this is not quite the correct syntax, but tha

[2018-10-25 07:44] albertmeronyo commented on #141
Absolutely! In the tutorial there's already some indications on [how to use grlc as a webservice](https://github.com/CLARIAH/grlc/wiki/Quick-tutorial#using-your-linked-data-api) but I'm pretty sure it can be extended and show more technical detail. So maybe a link from that page to the one you'll write :-)

I'm very happy to write about notebooks (have to implement them anyway soon), so I'll take

[2018-10-31 09:46] #114 closed

[2018-11-01 13:17] c-martinez commented on #139
PyPi releases automatically when release is made since #151

[2018-11-01 13:17] #139 closed

[2018-11-05 16:35] c-martinez commented on #139
And PyPi documentation can be made pretty as described here: https://packaging.python.org/guides/making-a-pypi-friendly-readme/ -- will add on next release.

[2018-11-07 15:20] c-martinez commented on #141
@albertmeronyo -- I put together a notebook which uses grlc from python:

https://github.com/CLARIAH/grlc/blob/dev/GrlcFromNotebook.ipynb

Probably not the best place to put it, so we should move it somewhere that makes sense.

[2018-11-09 14:40] vemonet commented on #148
This would be really interesting! Because at the moment finding how grlc parameters works is really difficult. A lot of different implementations at different places that doesn't work
And an API without parameters is pointless

[2018-11-09 15:28] vemonet commented on #148
Apparently the parameters are not working anymore

I managed to make this query worked 1 month ago: http://grlc.io/api/vemonet/ncats-grlc-api#/
https://github.com/vemonet/ncats-grlc-api/blob/master/get_drugs_for_gene.sparql

If I add the "enumerate" part the call simply disappear from the swagger UI spec.

But without the enumerate I can use the parameters (using "HGNC:3535" for instance). But I g

[2018-11-10 23:10] rlzijdeman opened #161 "where do I find documentation on which tags i can use?"

[2018-11-12 03:35] dgarijo opened #162 "Possibility to load queries from file"
Hello,
the current documentation covers how to set up GRLC with a Github repo, but not how to feed directly the files with my queries. Is this possible if I set up my server?
Thanks in advance!

[2018-11-12 13:36] albertmeronyo commented on #141
Fantastic, thanks for this @c-martinez !

I'll move it to doc/notebooks for the time being, and if it grows too much we can always start a new repo.
This is probably just for myself to remember but nice follow up steps could be:
- Add a page/link/description to the documentation in the wiki
- Add a few [HTML widgets](https://ipywidgets.readthedocs.io/en/stable/examples/Widget%20List.html) so the c

[2018-11-12 15:09] c-martinez commented on #141
Perfect -- thanks @albertmeronyo !

[2018-11-13 11:42] albertmeronyo commented on #148
Hi @vemonet , thanks for reporting these!

This might well have to do with the latest commits, so let's see if we can find the bug. Could you try these two things?

- I noticed that at https://github.com/vemonet/ncats-grlc-api/ you have `.rq` and `.sparql` versions of the same API method. This might be confusing grlc, since both extensions are processed but only one makes it to the final spec. Cou

[2018-11-15 02:02] dgarijo opened #163 "Parameters are not editable in the GUI"
None of the string parameters are editable anymore on the GUI. See:
http://grlc.io/api/albertmeronyo/lodapi/#/default/get_houseType_params

This is a little tragic, as no one can play with their values anymore :(

[2018-11-15 02:07] dgarijo opened #164 "Set default parameter values"
I have noticed that there are ways of specifying hardcoded values for parameters, but it would be great if you could specify default values in the swagger document for parameters like ?_var_iri. That way you would have an example of use on the documentation of the API call.

[2018-11-15 03:41] dgarijo opened #165 "Parse folders of repository"
I have added a repository where the queries are in a folder. GRLC doesn't create any API for it. I haven't seen a way of configuring this.

[2018-11-15 08:57] albertmeronyo commented on #163
Thanks @dgarijo for spotting this! I just fixed and redeployed, parameters should be back to normal now. Please let me know otherwise

[2018-11-15 08:57] #163 closed

[2018-11-15 14:15] albertmeronyo commented on #148
I've fixed a number of issues regarding parameter enumerations, and added the lodapi parameter example (with pre-filled enumerations) at http://grlc.io/api/albertmeronyo/lodapi/#/SPARQL/get_houseType_params

@vemonet let me know if this helps with your issue

[2018-11-15 15:19] albertmeronyo commented on #164
Implemented in edf64123cd4e567613ca15deb03b2caf892c3bb2

See example at http://grc.io/api/albertmeronyo/lodapi/#/dbpedia/get_dbpedia_test from the query at https://github.com/albertmeronyo/lodapi/blob/master/dbpedia_test.rq making use of the decorator

[code]

Thanks for reporting @dgarijo ! :-)

[2018-11-15 15:24] #164 closed

[2018-11-15 15:31] #82 closed

[2018-11-15 15:36] albertmeronyo commented on #162
Hi @dgarijo ,

Yes, this is definitely possible, and you're right the documentation doesn't help much (we're working on it in the wiki). There are two things to set up:
- the local path where grlc will search for your queries in [config.ini](config.ini)
- to call the API spec generation, go to http://localhost:port/api/local/local

Please let us know if this works fine for you

[2018-11-15 16:25] #147 closed

[2018-11-15 17:29] dgarijo commented on #164
Will give it a try, thanks!!!!

[2018-11-15 17:35] dgarijo commented on #163
It works perfectly, thanks!! And thanks to you and your team for grlc :)

[2018-11-15 18:13] dgarijo commented on #162
I see, thanks!

[2018-11-21 14:31] c-martinez commented on #161
Hi @rlzijdeman ,

Do you mean in the query decorators?
[code]

These tags are completely arbitrary -- so you can add whichever tags you want and as many of them as you see fit.

[2018-11-21 14:57] c-martinez commented on #140
`grlc.swagger.build_spec` now takes `prov` object as optional parameter. `github_access_token` is still loaded from `config.ini` -- but this is still required to be able to call the github api.

[2018-11-21 14:57] #140 closed

[2018-11-21 14:59] c-martinez commented on #122
Closing issue -- please re-open if the solution does not really solve the issue.

[2018-11-21 14:59] #122 closed

[2018-11-21 15:01] c-martinez commented on #112
I assume patch already fixes this issue. Closing.

[2018-11-21 15:01] #112 closed

[2018-11-21 15:35] c-martinez commented on #161
Good question -- there isn't any good documentation for it. But @albertmeronyo has been working on writing a [tutorial](https://github.com/CLARIAH/grlc/wiki/Quick-tutorial) which will explain all of them. And it will be ready... soon.

[2018-11-21 15:36] c-martinez commented on #77
Not sure what this issue means -- but if it already works, I'll close it :-)

[2018-11-21 15:36] #77 closed

[2018-11-21 15:37] c-martinez commented on #70
This is out of scope for the moment.

[2018-11-21 15:37] #70 closed

[2018-11-21 15:45] c-martinez commented on #92
Not sure if issue was resolved -- closing. Please re-open if required.

[2018-11-21 15:45] #92 closed

[2018-11-22 09:47] c-martinez commented on #7
Agree -- this also makes the query less transparent. Not implementing.

[2018-11-22 09:47] #7 closed

[2018-11-22 09:51] c-martinez commented on #30
This is already implemented via the `commit/<sha>` part of the request.

[2018-11-22 09:51] #30 closed

[2018-11-22 15:02] c-martinez commented on #165
This is not currently supported -- it has been on the list of features to implement for a long time (see #24). Should not be difficult to implement, but it has been very low in the priority list.

[2018-11-22 20:42] dgarijo commented on #165
I see, thanks for the heads up. I look forward to having this feature, as now I have to separate the queries into a separate repository :)

[2018-11-22 22:05] dgarijo opened #166 "If ":" is present on the summary decorator, no decorators are detected [Update readme file]"
I added a summary description including ":", which prevents any decorators from being recognized. Only after I deleted it GRLC recognized everything properly. Having a warning in the readme file would be nice to prevent others making the same mistake I did

[2018-11-23 08:12] rlzijdeman commented on #166
Cheers @dgarijo , added your suggestion.

[2018-11-23 08:12] #166 closed

[2018-11-23 10:49] c-martinez commented on #165
I'll close this issue and leave #24 open, but we should bump it up in priority.

[2018-11-23 10:57] c-martinez commented on #24
This feature seems to be in demand.

[2018-11-26 10:02] #162 closed

[2018-11-30 12:48] rlzijdeman opened #168 "warning on no prefixes listed"
Hi, if prefixes are missing in the .rq file, and uri's are not fully specified, no API is generated for the specific query. Obviously, that is correct behaviour, but a warning indicating that the user might have forgotten prefixes would be nice. Issue mentioned by @biktorrr and  @RoderickvanderWeerdt

[2018-12-01 07:55] thakursc1 opened #169 "Add Compatibility For Windows"
I get the following error when running the app on windows.

[code]

[2018-12-06 09:54] c-martinez commented on #169
Gunicorn does not support windows -- and grlc runs on gunicorn.

Looking at [this issue](https://github.com/benoitc/gunicorn/issues/524) it looks like they are planning on adding windows support (and maybe it [already works on python3.7](https://ci.appveyor.com/project/benoitc/gunicorn/build/job/ysfbmipm5yvix4o2)?)

@thakursc1 can I ask what version of python you are using?

[2018-12-06 10:55] thakursc1 commented on #169
3.6

[2018-12-06 10:59] c-martinez commented on #169
Ok -- do you have any way of running 3.7 ? May be worth trying , although I have no idea if it would work.

[2018-12-11 04:05] thakursc1 commented on #169
Doesn't help @c-martinez

[2018-12-11 07:19] c-martinez commented on #169
Is it possible to run it installed via pip:
[code]

or running the docker image (although I think docker and windows sometimes causes issues too):
[code]

Sorry for not being able to provide concrete help -- I don't have a windows machine, so I am shooting in the dark a bit.

[2018-12-19 22:32] c-martinez commented on #169
Hi @thakursc1 -- I'm not sure if you managed to solve your issue, but I just had an thought: it might be possible to use [waitress](https://pylons.readthedocs.io/projects/waitress/en/latest/) instead of `gunicorn` to run grlc on windows.

If it is still interesting, perhaps we could give this a go? I am happy to update instructions / make changes to support `waitress`, but I would need your help t

[2019-01-07 21:12] Sweenpet commented on #169
@thakursc1 , have you tried running it under WSL?

[2019-01-08 14:07] RoderickvanderWeerdt opened #173 "LIMIT statement is ignored"
When the query has a LIMIT statement it is being ignored in favor of the pagination default.

[2019-01-22 16:00] c-martinez opened #174 "Explicit error for no github access token"
When no `github_access_token` is given in config, a generic Internal Server Error is produced -- this error can be reported in a more explicit way.

[2019-01-23 13:39] RoderickvanderWeerdt commented on #173
You are right, I was under the (wrong) impression that LIMIT statements were always ignored in favor of some default form of pagination, but that is not the case. When there is no pagination defined the LIMIT statement will be used correctly.

[2019-01-23 13:39] #173 closed

[2019-02-07 11:11] #37 closed

[2019-02-07 15:10] c-martinez commented on #169
Closed by #175 -- windows support is now provided!

[2019-02-07 15:10] #169 closed

[2019-02-07 15:13] c-martinez opened #176 "End-to-end testing"
[Queries in lodapi repo](https://github.com/albertmeronyo/lodapi) provide a good test bench to test most of grlc functionality. Automated testing against this repo would be desirable.

[2019-02-13 16:01] c-martinez opened #178 "Dropping Python2 support"
Python 2.7 will not be maintained past [January 1st 2020](https://pythonclock.org/) -- we should make sure grlc is not only Python 3 compatible, but fully migrated.

[2019-02-14 13:11] albertmeronyo commented on #178
Excellent point @c-martinez This just came to my attention too
@pasqlisena just made some useful comments - e.g. we're still using the Python 2.7 Docker image as a basis

[2019-02-18 12:09] tkuhn opened #181 "docker build of latest commit leads to error: "Sphinx requires at least Python 3.5 to run""
I get the following error when trying to build the docker container:

[2019-02-18 15:04] c-martinez opened #182 "Add default sparql endpoint for docker image"

[2019-02-18 15:51] tkuhn opened #183 "config.ini overridden with config.default.ini even if config.ini is already present"
It seems config.ini is overridden with config.default.ini even if the former is already present. Concretely, I did these steps:

    $ docker pull clariah/grlc:latest
    $ docker-compose up -d
    $ docker cp config.ini d3b15398a5f2:home/grlc/grlc/

(and checking with `docker exec -it CONTAINERID bash` that the file is now indeed there)

This doesn't seem to take effect immediately, which makes s

[2019-02-20 09:00] c-martinez commented on #183
Hey @tkuhn, is there any particular reason you need a custom config.ini? `server_name` and `github_access_token` can be configured via env variables to your docker image:

[code]

and I'm working on having `sparql_endpoint` also as env variable.

Are you after configuring something different?

[2019-02-20 09:02] tkuhn commented on #183
I need it to set `local_sparql_dir` to read local files instead of connecting to GitHub.

[2019-02-20 09:07] c-martinez commented on #183
`local_sparql_dir` is set to reading files from `./`, which I assume would be `/home/grlc` inside the container. Maybe we can set it to `/home/grlc/queries` by default, and then if you copy your queries there, you won't need to set anything up via config. Would that work?

[2019-02-20 09:15] tkuhn commented on #183
Yes, I think so! Then I would mount `/home/grlc/queries` as a volume via docker, right?

[2019-02-20 09:16] c-martinez commented on #183
Yes -- I'll do that and let you know when it is on dockerhub.

[2019-02-20 09:17] tkuhn commented on #183
OK, that'd be great, thanks!

[2019-02-20 10:55] albertmeronyo commented on #181
Thanks for this @tkuhn
We're working on this at af9eb6b

Related issue #178

[2019-02-20 13:21] c-martinez commented on #183
Can you try now using image `clariah/grlc:dev` ? If this works we can close this issue.

[2019-02-20 13:22] c-martinez commented on #181
Image `clariah/grlc:python3` solves this issue.

[2019-02-20 13:22] #181 closed

[2019-02-20 15:13] tkuhn commented on #183
Hm, doesn't seem to work. I have the api repo files mounted at `/home/grlc/queries` and I checked that these files are really there from inside the container, but accessing it via `http://localhost:8001/api/local/local` gives "No operations defined in spec!".

[2019-02-20 15:19] c-martinez commented on #183
Looking into it...

[2019-02-20 16:21] c-martinez commented on #183
I think there was an issue with a python dependency. A new image has been built, can you check again?

[2019-02-20 16:23] c-martinez commented on #182
Docker image now has an additional env variable for setting default sparql endpoint `GRLC_SPARQL_ENDPOINT`

[2019-02-20 16:23] #182 closed

[2019-02-21 05:44] tkuhn commented on #183
Still doesn't work...

[2019-02-21 09:12] c-martinez commented on #183
Could you share the docker command you are using to run the container? I'll try to debug it locally.

I suspect it might be that `/home/grlc/queries` needs to be `/home/grlc/queries/` in config.default.ini (which would indicate a different bug). But I would like to test it before wasting your time with "try again"

[2019-02-21 09:51] tkuhn commented on #183
I am using docker-compose like this:

[code]

[2019-02-22 07:44] rlzijdeman commented on #161
thanks @albertmeronyo @c-martinez https://github.com/CLARIAH/grlc/wiki/Query-decorators

[2019-02-22 07:44] #161 closed

[2019-02-22 08:37] rlzijdeman opened #186 "function parameter"
Hi,

I was wondering whether you could add a `_function` parameter, that allows you to use for example regex inside SPARQL. Of course, this is already possibly, but it feels strange, because you need to omit the outer `"`. So the `_function` would strip the outer `"` from the input given.

See for example [1], where I have used `^b", "i` as myOccupationRegex input and `es` for 2letterLanguageTag.

[2019-02-22 12:16] c-martinez commented on #183
Thanks for that. I think indeed that was a bug. I've created a new image -- can you do `docker pull clariah/grlc:dev` and try again?

[2019-02-22 12:56] tkuhn commented on #183
Yes, it works now! :) Thanks a lot!

[2019-02-22 13:36] c-martinez commented on #183
Great! Glad it works :-)

[2019-02-22 13:36] #183 closed

[2019-03-04 09:10] albertmeronyo commented on #178
If we merge `python3` into `master` this will be solved right @c-martinez ?

[2019-03-04 09:12] albertmeronyo opened #188 "SPARQL Transformer failing tests"
The branch `transformer` contributed by @pasqLisena breaks now the CI tests. A first step towards fixing this would be to try pass the CI tests from the `python3` image

[2019-03-04 09:14] c-martinez commented on #178
Yes -- I would even say we should merge `dev`. I'll send a PR.

[2019-03-07 11:02] albertmeronyo opened #190 "Support loading queries from arbitrary HTTP locations"
- Add another route http://grlc.io/api/url
- After that we have parameters ?iri=http://mysparqlquery.rq
- That latter we HTTP GET request with preferred content text/plain (hopefully the result will come with YAML annotations)
- We make sure we take into account modification headers for caching
- Optionally we support parameters ?prefix=http://verylonguri?q1=query_name_1&q2=query_name2&... to allo

[2019-03-12 12:00] #174 closed

[2019-03-12 12:01] #178 closed

[2019-03-15 11:54] albertmeronyo opened #194 "import utils vs import grlc.utils"
In `dev` there are some issues regarding the use of importing grlc packages as

[code]

@c-martinez I think we already solved this some time ago? Maybe we solved this by forcing grlc to be installed as a library inside the container and then importing utils instead of grlc.utils?

[2019-03-18 09:54] albertmeronyo commented on #194
No worries, fixed in 489a36b :-)

[2019-03-18 09:54] #194 closed

[2019-04-11 14:43] jblom opened #197 "Can't install with pipenv using Python 3.7"
I'm now migrating our search API with grlc support from Python 2.7 to Python 3.7, but (using pipenv) I get errors when installing the greenlet & gevent packages:

"An error occurred while installing gevent==1.1.2"
"An error occurred while installing greenlet==0.4.10"

**How to reproduce**:

Run in a terminal on macOS High Sierra:

`
pipenv --python 3.7
pipenv shell
pipenv install grlc
`

Is grlc c

[2019-04-15 14:57] albertmeronyo opened #198 "v1.3 release in pypi"
Hi @c-martinez ! I know you've taken care of uploading the previous releases to pypi. Could you do as much for v1.3? Not urgent but would be good. Thanks!

[2019-04-26 06:47] c-martinez commented on #198
Hi @albertmeronyo -- tests on travis are failing, so I haven't made a new release yet. I would like to fix that first.

[2019-05-14 07:38] mwigham commented on #197
It looks like this has been solved in the code in github, but not yet updated on pypi, could that be?

For now, I found a workaround using the following steps:

- download grlc from github
- In setup.py, replace the n with a trema with a standard n (sorry Albert!)
- in sparql.py, replace iteritems() with items()
- Delete the contents of readme.md
- (optional: activate my virtual environment)
- In

[2019-05-14 07:44] jblom commented on #197
@mwigham thanks, but really hoping for the fix in pypi, since it needs to be automatically installed and would like to avoid writing a special script for this.

@c-martinez could you help us out?

[2019-05-16 15:11] mwigham commented on #197
As I used the latest version of grlc in my download, I guess that means the iteritems in sparql.py will also need fixing before the pypi is updated.

[2019-05-21 06:10] c-martinez commented on #197
Hi @jblom & @mwigham for reporting this. In principle, grlc should be python 3 compatible, but you are right, current version is broken.

There seem to be a few issues in the current version since builds on Travis are also failing -- it seems to be related to SPARQLTransform ?

@albertmeronyo -- do you have some time to look into this? I'll try to have a look as well.

@jblom / @mwigham -- if you

[2019-05-21 09:52] mwigham commented on #197
@c-martinez  I have changes ready to check in. Which branch is it best to use? Then I can create a PR

[2019-05-21 09:55] albertmeronyo commented on #197
Thanks @mwigham and @jblom for noticing and contributing to this! PRs to branch dev are automatically built and deployed so I'd advice sending it there -- thanks!

[2019-05-24 07:34] albertmeronyo commented on #190
Update: support both
-  URI-encoded URLs that contain the query in accept: plan/text or accept: sparql
- and GET/POST supplied URLs for the query locations: e.g. http://grlc.io/api/url and then the query URL comes at GET/POST query-url: https://api.druid.datalegend.net/datasets/IISG/iisg-kg/queries/rosa-luxemburg-gallery/1 and its first parameter at param1: value1

[2019-06-12 13:47] arnikz opened #201 "Parameters do no work with FILTER clause"
I'd like do some filtering on the result set using a set of parameters. SPARQL (range) queries that include the parameters in the `FILTER` clause do not work. For example, the `age` does not show up in the UI:

[code]

[2019-06-20 05:46] c-martinez commented on #188
Tests fixed by #204

[2019-06-20 05:49] c-martinez opened #205 "Windows support"
[Travis now supports windows](https://travis-ci.community/t/windows-early-release/195). We should add tests for windows.

[2019-06-20 11:31] c-martinez opened #207 "Use patches on tests"
The `test_sparql_transformer` test, relies on response from `dbpedia`:

https://github.com/CLARIAH/grlc/blob/f5664e34f039010c00ef8ebb69917c05e8ce75d7/tests/test_gquery.py#L208-L219

This means that if you are not connected to the internet, it is not possible to run this test. One way to work around this is to use `@patch` (as done in [test_get_enumeration](https://github.com/CLARIAH/grlc/blob/f566

[2019-06-21 09:15] tkuhn opened #208 "error when using latest dev Docker container with local/local"
I get the follwing error with the latest dev Docker version, when using with local SPARQL files in `/home/grlc/queries/` and accessing them via `api/local/local`:

This used to work with the latest dev version a few months back.

[2019-06-24 20:30] arnikz opened #209 "Update README: add prerequisites to install grlc as a library"

[2019-06-26 05:48] jblom commented on #197
@albertmeronyo @c-martinez just curious to hear when the fix will be in the new release. If I'm correct this has already been fixed in the dev branch?

[2019-06-26 07:53] c-martinez commented on #197
Hi @jblom -- yes, all tests are currently passing on `dev` branch. I am just giving some time to @albertmeronyo to review the changes and then merge.

[2019-06-26 07:57] jblom commented on #197
@c-martinez awesome thanks for the quick response :-)

for context: if the fix is there we can deploy our awesome local grlc experiments on the server (without hacking there)

[2019-06-28 12:20] marvinm2 opened #211 "Multiple values in a parameter"
Is there a way to define lists of parameters, or somehow combine the different parameters with VALUES? When I start putting parameters in those sections of the query, the parameters are not present in the API that is created.

I also tried using a single parameter(with multiple variables in it) and putting it directly in the VALUES part of the query, but that also doesn't work.

The query that I a

[2019-07-01 08:42] #205 closed

[2019-07-01 08:42] #188 closed

[2019-07-01 08:52] #209 closed

[2019-07-01 09:14] c-martinez commented on #201
This was solved by adding an outer block `{}`. See [this issue](https://github.com/candYgene/queries/issues/12) for more info.

[2019-07-01 09:14] #201 closed

[2019-07-01 12:12] c-martinez commented on #197
Hey @jblom, @mwigham -- grlc 1.3.0 is out and is fully python3 compatible! I hope this solves your issue :-)

[2019-07-01 12:12] #198 closed

[2019-07-01 12:12] c-martinez commented on #198
Released!

[2019-07-01 12:25] mwigham commented on #197
Great news! Thank you very much. I'll have a go at testing it.

[2019-07-01 12:27] jblom commented on #197
Hey @c-martinez, the issue with installing grlc seems to be gone! (at least locally) Now to test it on the server and all should be good :))

[2019-07-01 12:30] c-martinez commented on #211
Hi @marvinm2,

I am not sure if I understand your question correctly, but as I understand, you would like to select an AOP value from a list of available AOPs. In that case, the `#+ enumerate` decorator is what you are looking for. See if this query is more or less what you are after:

[code]
Hope this helps!

[2019-07-01 12:53] c-martinez commented on #197
Perfect -- I'll close this issue then :-)

[2019-07-01 12:53] #197 closed

[2019-07-01 13:01] marvinm2 commented on #211
Thank you for the response! However, I am actually looking for something different: I would like to perform this query in 1 time for both of these AOPs at the same time, like a batch call. So that 1 query can give me the full table of the methods (outcome of the query) for all of the AOPs of interest. Sorry for not being clear before.

I would like to do this: like the outcome of this query if you

[2019-07-01 15:30] rlzijdeman commented on #198
Congratulations 🎉🎈🍾!!!

On 1 Jul 2019, at 14:12, Carlos Martinez <notifications@github.com<mailto:notifications@github.com>> wrote:

Released!

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub<https://github.com/CLARIAH/grlc/issues/198?email_source=notifications&email_token=AA2RW7R7NZ5X4LIHX5HQ273P5HYDBA5CNFSM4HGAYGO2YY3PNVWWK3TUL5

[2019-07-01 16:23] c-martinez commented on #211
Hi @marvinm2 -- thanks for clarifying -- I am not sure if this is possible. I was trying to make it work by using a `BIND` clause, but I don't think you can inject a `?_var` that way.

@albertmeronyo -- do you have any ideas how this could work?

[2019-07-02 09:02] pasqLisena commented on #207
Hi @c-martinez . I can give a look to this next week.

[2019-07-02 12:50] c-martinez commented on #208
It looks like the issue might come from how config file is being loaded:

https://github.com/CLARIAH/grlc/blob/94506d445a0992df750c358cb592089c6cf14439/src/static.py#L50

In the docker image, the config file is not being found, and therefore the `local` repo is not being found. Will look into it later this week.

[2019-07-02 20:35] c-martinez opened #213 "SPARQL Transformer breaks with non-query json files"
sparql transformer handles json files with a specific format:

https://github.com/CLARIAH/grlc/blob/94506d445a0992df750c358cb592089c6cf14439/src/gquery.py#L262-L267

However these lines will not handle other json files. This means that other json files in the api repository will cause an error.

[2019-07-06 11:21] c-martinez commented on #208
Hey @tkuhn -- `dev` image in dockerhub should work now. The `latest` image should be fixed when merged to `master`. I'm assuming you were working with the `dev` image?

Closing this issue.

[2019-07-06 11:21] #208 closed

[2019-07-08 05:52] tkuhn commented on #208
Yes, works now. Thanks!

[2019-07-10 08:53] albertmeronyo commented on #190
- Try to push a protocol for query collections, so first there's a URI that represents the collection, and when you de-reference it you get in an HTTP header links to all the queries the collection contains

[2019-07-10 15:06] c-martinez opened #215 "Improving SPARQL transform"
The proposal is merge the functionality of SPARQLtransform and projections (pyql files). We would prefer for queries to always be expressed as SPARQL, in order not to loose any of the SPARQL expressiveness, but to keep the transform result representation capability -- results from queries expressed as json. The transform syntax could be included using the `transform` keyword.

The `.rq` file would

[2019-07-11 09:08] pasqLisena commented on #215
Hello @c-martinez, I agree that the next step is extracting the transforming capabilities of the module.
I received different suggestions on this topic and I will soon study the problem and produce the best solution.

[2019-07-11 09:09] pasqLisena commented on #213
Hi @c-martinez, please assign this issue to me

[2019-07-11 09:24] c-martinez commented on #215
Hi @pasqLisena -- great! Let us know if you have any suggestions or other recommendations for the grlc implementation.

[2019-07-25 18:58] rlzijdeman opened #217 "not sure how to retrieve data appropriately from grlc query API"
Hi, I've setup my grlc api [1] for this query [2]. Running the results 'manually' (by clicking 'execute' and so on) all seems to work fine. But when I try to retrieve the results via Python, it appears as the output is not properly formatted, as it start with `b'`:

[code]
 I use this [3] python script. Could you please give me an example of how I'm supposed to retrieve the query via Python (panda

[2019-07-26 11:29] rijpma commented on #217
Try decode? `resp.content.decode("utf-8")`

[2019-07-26 12:56] rlzijdeman commented on #217
cheers, that worked. for future reference:
[code]

[2019-07-26 12:56] #217 closed

[2019-07-27 20:45] c-martinez commented on #213
Closed by #216

[2019-07-27 20:45] #213 closed

[2019-07-27 20:45] c-martinez commented on #207
Closed by #216

[2019-07-27 20:45] #207 closed

[2019-07-28 15:19] c-martinez commented on #215
Hey @pasqLisena,
I'm implementing the new functionality as discussed above, with some simplifications. More specifically, I was trying to project results from this query:

[code]
into something like this:
[code]
However, it looks like `SPARQLTransformer` always returns a list? It also looks like it must always have an `id` -- is that correct? What is the reasoning behind it?

[2019-07-29 16:00] c-martinez commented on #211
Hi @marvinm2 -- I think it might be possible to do what you are after, by using SPARQL functionality -- but this would depend on your endpoint. grlc would give you an API on top of this.

For instance, I tried the following query (using Apache Jena as triplestore):
[code]
This query gives me an ID and a name for each of the iri's in my string `"http://example.org/#spiderman,http://example.org/#gre

[2019-07-29 16:00] #211 closed

[2019-07-30 08:28] pasqLisena commented on #215
Normally yes.

Yes, the id is an anchor for merging. For now, it is hardcoded, planning to make it selectable.

---
Back to your template, I am surprised that you don't want something like :

[code]

Anyway, for now, SPARQL Transformer is capable to output something like:

[code]

in other words, only the attribute values are replaced, while attribute names are not touched.

[2019-07-30 08:43] c-martinez commented on #215
Ok, that kind of makes sense. And what would be the correct syntax for such a projection? I imagine I should use something like this (given that the `id` is required at the moment):
[code]

Would give me something like:
[code]
Is that correct?

[2019-07-30 08:44] pasqLisena commented on #215
Exactly

[2019-08-01 08:58] pasqLisena commented on #215
Hi @c-martinez, I just released a version of ST in which you can replace that hard-coded `id` with any other property with a `$anchor` modifier. See [documentation](https://github.com/D2KLab/sparql-transformer#the-prototype)

[2019-08-01 12:16] c-martinez commented on #215
Hi @pasqLisena. Nice! So this means I should be able to write something like this:
[code]
and get the desired result. Correct?

[2019-08-05 09:44] marvinm2 opened #219 "Local grlc instance not working"
Hello,

I have been trying to get grlc working locally using the docker compose with my local folder of SPARQL queries (a git clone of https://github.com/marvinm2/AOPWikiQueries, locally in the path /home/marvin.martens/grlc/AOPWikiQueries). My SPARQL endpoint is a Virtuoso Docker image running on http://localhost:8890/sparql/.

So, in the config.default.ini (from the cloned repo of grlc) I change

[2019-08-19 15:10] albertmeronyo commented on #165
Reopening -- Just got another request for having this so assigning higher priority.
Will try to drop some commits under dev to test it

[2019-08-28 09:27] albertmeronyo opened #221 "Debug mode?"
Apparently debug mode/logging is not being turned on, even if declared in `docker-compose.yml`

[code]

or in `config.ini`:

[code]

@c-martinez could you take a look? Thanks!

[2019-08-28 11:32] albertmeronyo commented on #165
Just added a first implementation for this, with three important limitations:

- Only applies to queries stored in GitHub
- Supports only subdirs at 1 level of depth
- The API spec has some ambiguous clashes, so it will need refactoring but for now making sure to append a slash `/` every time you require an API spec (and not a query call) should be fine

Should be shortly available at dev.grlc.io.

[2019-08-28 20:55] c-martinez commented on #221
@albertmeronyo -- this one you managed to fix, correct? I'll close this, but reopen if it is still an issue.

[2019-08-28 20:55] #221 closed

[2019-08-28 21:09] #215 closed

[2019-08-28 21:26] c-martinez commented on #219
Hi @marvinm2 -- sorry for the delay in getting back to you. Just a quick question: you are using [this docker-compose file](https://github.com/CLARIAH/grlc/blob/master/docker-compose.default.yml)?

I'll look into your issue -- it might be that we need to fix a couple of things with the docker deploy instructions.

[2019-08-29 07:32] marvinm2 commented on #219
Correct, I cloned the grlc repository and I used that file. Are there things to edit there? I might have missed something in the file.

[2019-08-29 07:40] c-martinez commented on #219
Ok, I need to check. I think we use this docker-compose file to spin up the grlc.io instance, which does not use the `/api/local/` option. It might be that this docker file just uses the image from docker-hub and does not load anything from your config file. At least that is my current theory.

[2019-08-29 08:13] marvinm2 commented on #219
When I run the docker-compose, I get a couple of warnings as well. A few of them have to do with a 'package.json' which cannot be found.
[code]

In the end of the docker-compose, it does actually read my config.ini file, pointing to my local SPARQL endpoint, but I don't see any notification about the local sparql directory.

[2019-08-29 21:42] c-martinez commented on #219
Hi @marvinm2 -- I've tried figure out what is going on with docker-compose.default.yml file, but I think it might be broken (something to check with @albertmeronyo).

So I went a different way and just installed the latest version of grlc (from the dev branch), and started a local copy:
[code]
`config.ini` looks something like this:
[code]
and your api should be available on `http://localhost:8088

[2019-09-06 15:11] albertmeronyo opened #222 "Default parameter type interpreted as URI not string"
?_inchiKey in this query is treated as URI but should be string

[code]

[2019-09-09 15:06] jblom opened #223 "can't install grlc using python 3.7 (problems with werkzeug lib)"
Hi,

getting back to grlc again and seem to be unable to install grlc (again) with pipenv (see error message below)

Any help is appreciated. Hope this can be fixed soon.

[code]

[2019-10-07 13:00] barrynl opened #228 "Start using stable version numbers on hub.docker.com."
Hi all,

I am using GRLC from hub.docker.com and whenever a bug is introduced in one of the latest or dev tags, my applications breaks. It always takes me some time to realize the problem is (for once) not with me, but with the hub.docker.com image :)

it would be nice if the hub.docker.com repository of grlc used some sort of stable version numbering instead of 'latest' and 'dev' tags.

Regards,

[2019-10-07 13:03] barrynl opened #229 "Problems with local queries on both the dev and master branch."
Hi all,

Thanks for providing and maintaining grlc! I'm having some issues with grlc.

I use the docker images provided via hub.docker.com, but both the latest (which is probably generated from the master branch) and the dev tag will not load my local queries. Due to issue #208 I already switched from the latest to the dev tag a while back, but now the dev tag also stopped working for local querie

[2019-10-08 14:36] RoderickvanderWeerdt opened #230 "Parameter isn't recognized in a filter using the language function"
When a filter that uses the `LANG` function is used in a query grlc doesn't recognize the parameter in that line ([example](http://grlc.io/api/RoderickvanderWeerdt/grlc_test_data/commit/78fcfce17ac3dbcd369ebbbbbd3633558d4fa5a2#/occupationalCoding/get_retrieve_hisco_with_regex_and_language_par)).

The same query does work when there isn't a filter with the language function ([example](http://grlc.i

[2019-10-09 21:53] c-martinez commented on #228
Hi @barrynl -- that is a good point. Perhaps we should set up docker hub to build a `stable` image only when we do a new release (and perhaps have a `dev` image build from the `dev` branch. -- what do you think @albertmeronyo ?

[2019-11-01 13:46] barrynl opened #232 "queries are no longer loaded"
Hi all,

Am I the only one seeing only the green header and no queries on the following GRLC.io webpage? [http://grlc.io/api/albertmeronyo/lodapi/](http://grlc.io/api/albertmeronyo/lodapi/)

I am experiencing problems with GRLC: my local queries are no longer loading. I use GRLC in a docker container and these images no longer work. I tried to build my own docker image from the GRLC git repository

[2019-11-01 13:53] barrynl commented on #232
The problem seems to lie in this file: https://github.com/CLARIAH/grlc/blob/master/src/templates/api-docs.html#L86

It seems like the file: https://unpkg.com/react@16/umd/react.development.js is no longer accessible due to CORS policies on the unpkg.com website.

[2019-11-01 14:01] barrynl commented on #232
There is already an issue for UNPKG on github: https://github.com/mjackson/unpkg/issues/229

[2019-11-01 14:05] barrynl commented on #232
I've fixed this locally by removing the 'crossorigin' attribute of the 'script' tag:

https://github.com/CLARIAH/grlc/blob/master/src/templates/api-docs.html#L86

[2019-11-07 21:24] c-martinez commented on #232
Hi @barrynl -- thanks for spotting the issue. I am assuming what you did looks like [this](https://github.com/CLARIAH/grlc/pull/233/files) ?

Feel free to send a PR whenever you find an issue like this one :-)

[2019-11-08 08:16] barrynl commented on #232
Yes, that's exactly what I did locally. Thanks for fixing!

[2019-11-08 17:49] c-martinez commented on #232
Thanks you for reporting it!

[2019-11-08 17:49] #232 closed

[2020-01-13 22:56] c-martinez commented on #223
Hey @jblom -- sorry, it took forever to get a new release of `grlc` out of the door. But the latest release can be installed using `pipenv` and it seems to be working fine.

Inside a docker container running python 3.7, I installed `pipenv` and then `grlc`:
[code]

If you still have issues with pipenv and grlc, please reopen this issue.

[2020-01-13 22:56] #223 closed

[2020-01-14 07:19] jblom commented on #223
@c-martinez ah nice to hear, thanks, will try it out at some point again. Will let you know

[2020-01-14 20:33] c-martinez commented on #228
From version 1.3.2, images on hub.docker.com are tagged for each release version, e.g. `docker pull clariah/grlc:v1.3.2`

[2020-01-14 20:33] #228 closed

[2020-02-07 11:12] albertmeronyo commented on #190
We're making this happen through an HTTP deferenceable list (e.g. in plain text) that containts the full list of query URIs to include in a spec

[2020-02-07 11:13] albertmeronyo opened #243 "New fileLoader for generating APIs from various URLs via HTTP list"

[2020-02-07 11:14] albertmeronyo opened #244 "Document API, functions and classes for JOSS"

[2020-02-07 13:56] #190 closed

[2020-02-10 16:26] jaw111 opened #246 "Add https: support on grlc.io"
I am trying to call grlc.io from a client application served over https: and, given the browser does not allow mixed active content, the application is not allowed to see the response.

Ideally grlc.io should be available on https://grlc.io/

[2020-03-02 13:58] tkuhn opened #247 "GUI not working when grlc is not on root path"
When grlc is not configured on root path like http://mydomain.com/ but on a sub-path like http://mydomain.com/mypath/ then the GUI doesn't seem to work. The API itself doesn't seem to be affected and calls to it answer correctly, but the user interface doesn't work.

Here is a live instance that shows this problem: https://openphacts.cs.man.ac.uk/nanopub/grlc/api/local/local

As this example shows

[2020-03-04 21:51] c-martinez commented on #246
Hi @jaw111 -- this is a very good point.

@albertmeronyo -- any idea about this?

[2020-03-08 15:27] c-martinez commented on #247
Hi @tkuhn -- thanks for reporting this.

It looks like the issue is that grlc GUI is not able to locate some javascript files when it is loaded from a sub-path. I've added a fix in `dev` branch, which should fix this issue.

By the way, the `dev` branch also has some recent updates, where you can load a local API using the `/api-local` endpoint. So something like this: https://openphacts.cs.man.ac

[2020-03-09 09:43] tkuhn commented on #247
Hi thanks!

[2020-03-09 09:50] c-martinez commented on #247
That seems to be unrelated. I am guessing you are using the docker image?

[2020-03-09 10:10] tkuhn commented on #247
Yes, that was unrelated!

Haven't managed to set it up under a path though yet. The openphacts server is itself not under my control, and I don't know exactly how it was set up there.

Do I need to include the path in GRLC_SERVER_NAME?

[2020-03-09 10:50] c-martinez commented on #247
No, GRLC_SERVER_NAME should only include the server's domain name (GRLC_SERVER_NAME=openphacts.cs.man.ac.uk in this case).

That is a good point -- depending how the openphacts server is configured, this could have some impact into how the paths get generated.

[2020-03-09 19:50] reeshabhkumarranjan commented on #66
I would like to work on this issue. The issue objective seems pretty straightforward and clear. Waiting for green light from the maintainers.

[2020-03-12 22:14] c-martinez commented on #247
Hi @tkuhn!

I've updated the `clariah/grlc:dev` image so it should work on a sub-path.

If you are starting the docker image using docker-compose, you should make sure to set up environment variables, for example:

[code]
If this works, can we close this issue?

[2020-03-13 11:42] rlzijdeman opened #250 "endpoint not recognised from decorator?"
Hi,

I've added the endpoint inside my query[1] using the `#+ endpoint:` decorator.
However, when I go to the grlc-api page [2], click 'try it out' and 'execute' it runs against the DBpedia endpoint, not the one I provided. If I replace the DBpedia endpoint with the proper one, the results return as expected.

[1] https://github.com/rlzijdeman/ecartico-sparql/blob/master/persons-from-period.rq
[2]

[2020-03-13 12:49] albertmeronyo commented on #250
Hi @rlzijdeman

I think it's due to the tab in your YAML line
`#+     - dates`

Can you try again with two spaces in that line instead of a tab? So
#+  - dates

[2020-03-13 14:45] rlzijdeman commented on #250
Graciès @albertmeronyo.  Obra començada, mig acabada.

[2020-03-13 14:45] #250 closed

[2020-03-14 16:02] jaw111 commented on #246
Given there is no movement on this, I'll assume grlc.io is not actively maintained/supported and will look for other options.

Thanks.

[2020-03-15 09:04] rlzijdeman commented on #246
all right, thanks for letting us now @jaw111 !

[2020-03-15 09:04] #246 closed

[2020-03-16 07:09] albertmeronyo commented on #246
Not that we'll have time to implement this anytime soon, but the solution seems simple https://stackoverflow.com/questions/29458548/can-you-add-https-functionality-to-a-python-flask-web-server

Thanks @jaw111 for reporting

[2020-03-16 10:14] c-martinez commented on #246
We might need to get/buy an SSL certificate from a trusted authority.

[2020-03-16 14:26] jaw111 commented on #246
p.s. 'other options' means we'll try deploying a grlc docker image into K8s cluster with SSL offloading

[2020-03-23 19:15] c-martinez commented on #246
Ping @jaw111 -- grlc.io now supports https. In the end we did not change any part of grlc code, just the nginx configuration on the server.

[2020-03-25 20:46] c-martinez commented on #243
Implemented in #245
Tests are missing.

[2020-03-27 06:40] tkuhn commented on #247
Getting these errors now:

Mapping UID/GID
nginx: the configuration file /etc/nginx/nginx.conf syntax is ok
nginx: configuration file /etc/nginx/nginx.conf test is successful
Restarting nginx: nginx.
Reading config file:  /home/grlc/grlc/config.ini
Traceback (most recent call last):
  File "/usr/local/bin/grlc-server", line 11, in <module>
    from grlc.server import app as grlc_app
  File "/usr/l

[2020-03-27 20:08] c-martinez commented on #247
[code]

[2020-03-29 11:11] tkuhn commented on #247
Right, I didn't have that. Now it seems to work. But I have to use `/api-local` instead of `/api/local/local`, which means I also have to change the code in my Tapas interface. Could this maybe be made backwards-compatible (so still supporting `/api/local/local)? Otherwise, it's difficult to implement in Tapas in a way that works with both branches of grlc...

[2020-03-30 12:38] rapw3k opened #251 ""from" clause in json pattern is not recognised"
I am trying a very simple query: to retrieve all triples from a particular graph in our triplestore in json format.
I am trying to specify the graph using the $from clause but it is not taken into account.
my repository: https://github.com/rapw3k/cybele/
query: https://github.com/rapw3k/cybele/blob/master/allmetadata_json.json

Am I doing something wrong with this?
thanks in advance

[2020-03-30 12:56] albertmeronyo commented on #251
Thanks for reporting this @rapw3k
@pasqLisena do you think this might be Transformer specific, or more related to the main engine?

[2020-03-30 13:54] pasqLisena commented on #251
Hi everyone,
in grlc we include SPARQL Transformer at version 1.7.0 (see [requirements.txt](https://github.com/CLARIAH/grlc/blob/master/requirements.txt#L20)).
The `$form` attribute has been included in 1.8.1.

@albertmeronyo is it possible to bring ST version in glrc to latest (1.8.2) ?

[2020-03-30 19:38] rapw3k commented on #251
thank you for the information, waiting for feedback about the update.

[2020-04-01 06:40] c-martinez commented on #247
Yes, we are moving from `/api/local/local` to `/api-local` on the next release, but you are right, backwards compatibility might be a good idea.

"Using Tapas with both branches of grlc" -- do you mean you have two instances, one using the `dev` docker image and one using the `master` image? If that is the case, could you test if this image works for you `image: cmartinez/grlc:dev` before I merge

[2020-04-01 09:33] tkuhn commented on #247
Yes, seems to work!

I have just one version of Tapas that connects to grlc instances, defined either in the config or a URL parameter. So, in this situation, Tapas doesn't know what version that service is running, and having to try both `api/local/local` and `api-local` is not optimal. A backwards-compatible solution would be great for this. Or do the move to `api-local` quickly in all versions

[2020-04-02 07:19] c-martinez commented on #247
Great!

Ok -- I think backwards compatibility is a good idea for the next release (no date planned for it yet, but probably before the summer). We will move to `api-local` as the preferred option and eventually get rid of the `api/local/local` option.

I'll close this issue.

[2020-04-02 07:19] #247 closed

[2020-04-02 09:29] rapw3k opened #253 "http://grlc.io/ live instance not working properly (today)"
Hi,
Today I was testing my API http://grlc.io/api/rapw3k/cybele/
and I get "No API definition provided" message, although it was working few days ago.
I tried removing some queries, but then I tried the demo API: http://grlc.io/api/albertmeronyo/lodapi/
and I get same message (and it was working fine a few days ago).
It seems there was some change in the service?
thanks

[2020-04-02 09:31] rapw3k commented on #253
It seems this is related to https://github.com/CLARIAH/grlc/pull/252...

[2020-04-03 11:42] c-martinez commented on #66
Hi @reeshabhkumarranjan -- sorry for the delay in getting back to you.

Sure, if you are willing to give a hand with this, please feel free to send a PR :-)

[2020-04-06 19:20] c-martinez commented on #251
Fixed by @pasqLisena on #252

[2020-04-06 19:20] #251 closed

[2020-04-08 18:39] c-martinez opened #255 "Backwards compatible paths"
New API paths (`/api-git/`, `/api-local/` and `/api-url/`) have been recently introduced ( on #254 ?) However these should be made backwards compatible.

Originally described in #247.

[2020-04-21 06:36] #255 closed

[2020-04-22 19:20] sirspock opened #258 "Some examples are not working"
How to reproduce?

[code]

[2020-04-30 14:15] pasqLisena opened #259 "Pagination link in headers"
The next pagination link is not working properly.

In particular, I am looking at this query:
http://grlc.eurecom.fr/api/albertmeronyo/lodapi/#/dbpedia/get_dbpedia_test

Trying it out, I can see the **Response headers**, where the `link` attribute is:
http://grlc.eurecom.fr/api/albertmeronyo/lodapi/dbpedia_test?type=http%3A%2F%2Fdbpedia.org%2Fontology%2FBand&endpoint=http%3A%2F%2Fdbpedia.org%2Fspa

[2020-05-01 20:51] c-martinez commented on #244
- [ ] Proof read README.md
- [ ] Example queries in grlc-queries
- [ ] Merge master
- [ ] Make release
- [ ] Submit to JOSS

[2020-05-01 23:03] c-martinez commented on #259
Hi @pasqLisena,

You are probably right that it is not the best way to build the url. Probably we should use something like [urllib.parse.urlencode](https://docs.python.org/3/library/urllib.parse.html#urllib.parse.urlencode). Although for me the `link` attribute seems to be well formed:

We will be updating grlc.io to a new release soon.

[2020-05-04 08:38] pasqLisena commented on #259
I am looking at the preview of the headers in the Swagger UI. At least there, the issue is more visible.

[2020-05-11 16:18] pasqLisena opened #264 "Collision between 2 routes"
Hello,
the software is not able to distinguish between:
- `@app.route('/api/<user>/<repo>/<subdir>', strict_slashes=False)  # backward compatibility route` (line [157](https://github.com/CLARIAH/grlc/commit/f7f4af5a887235772f95f640b8434c3313e5610c#diff-94ab7c76892f0032ee9ad040e3e8f207R157)
- `@app.route('/api/<user>/<repo>/<query_name>', methods=['GET', 'POST'])  # backward compatibility route` (l

[2020-05-12 20:23] c-martinez commented on #264
Hi @pasqLisena you are absolutely right. This is an issue with the old routes -- we are not changing the API for these old routes, but I think it has been solved for the new routes (the ones starting with `/api-git`. In a future release (probably `1.4.0` these routes will be removed.

[2020-05-12 20:23] #264 closed

[2020-05-12 20:45] c-martinez commented on #258
Hi @sirspock,

Examples should be working with the new API. See [example API](http://grlc.io/api-git/CLARIAH/grlc-queries/) for some examples.

Closing issue. Please reopen if necessary.

[2020-05-12 20:45] #258 closed

[2020-05-12 21:36] c-martinez commented on #230
It seems like the issue is that (according to rdflib) in this query:
[code]
and because a language should always be a `rdfs:Literal` this should work.

If this works for you, we can close this issue.

[2020-05-12 21:46] c-martinez commented on #229
Hi @barrynl -- I guess this is no longer an issue. [Dockerhub versions](https://hub.docker.com/repository/docker/clariah/grlc/tags?page=1) are now tagged per release as you suggested, and issue #208 is closed.

[2020-05-12 21:46] #229 closed

[2020-05-12 21:47] c-martinez commented on #219
This is an old issue, I assume it is fixed by now, please reopen if it is still an issue.

[2020-05-12 21:47] #219 closed

[2020-05-12 21:49] c-martinez commented on #148
New [examples repo](https://github.com/CLARIAH/grlc-queries/) has examples an example of `enumerate` decorator. Hopefully that solves this issue.

Closing.

[2020-05-12 21:49] #148 closed

[2020-05-12 21:53] c-martinez commented on #247
Hi @tkuhn -- just to let you know that the official grlc instance and latest docker hub images are all using the new api (`/api-local`). We will remove the `api/local/local` option in a future release (probably end of the year).

[2020-05-13 14:31] pasqLisena commented on #264
Ah, but this means that all applications that relied on `/api` path must be updated?
(Basically, the new update will be not backwards compatible)

[2020-05-13 17:53] c-martinez commented on #15
@albertmeronyo -- I am not sure what this issue was about, but it is super old.

I will close it and, if still relevant, please open it again and add more details of what it is about.

[2020-05-13 17:53] #15 closed

[2020-05-13 18:11] c-martinez commented on #24
This type of request should be possible using the `subdir` [option](https://github.com/CLARIAH/grlc#from-a-github-repository) or in the worst case with a [specification yaml file](https://github.com/CLARIAH/grlc#from-a-specification-file).

Closing this issue -- if this is still needed and cannot be addressed with these options, please reopen.

[2020-05-13 18:11] #24 closed

[2020-05-13 18:14] c-martinez commented on #165
This should now be possible using the `subdir` [option](https://github.com/CLARIAH/grlc#from-a-github-repository).

Closing this issue, if this does not fix your issue, please reopen.

[2020-05-13 18:14] #165 closed

[2020-05-13 21:06] c-martinez commented on #264
Yes, they will have to be updated. And yes, they will not be backward compatible, which according to [semver](https://semver.org/) should be a MAJOR version change (when you make incompatible API changes). So it should be for release `2.0.0`.

[2020-05-14 07:09] tkuhn commented on #247
Thanks! I will then make the switch in my code in the coming months.

[2020-05-14 15:30] PedroATavares opened #265 "Access-Control-Allow-Origin header is sent twice"
Calls using the `api-git` location responds with multiple `Access-Control-Allow-Origin` headers making client side request unusable.
An example call:
[code]

As seen in the example the header `Access-Control-Allow-Origin: *` is sent twice.
This might be due to the nginx configuration on https://github.com/CLARIAH/grlc/blob/448621cc5dfe7e8a3fc26e5419049481427d8222/docker-assets/assets/runtime/confi

[2020-05-14 22:12] c-martinez commented on #61
It looks like the issue in rdflib never got fixed, and neither did this issue.

I will close this issue, please reopen it if it is still relevant.

[2020-05-14 22:12] #61 closed

[2020-05-16 07:12] c-martinez commented on #265
Hi @PedroATavares -- well spotted. We recently added the header also in the python code, which makes the header in nginx redundant. I will fix this.

I'm just curious, why does this make the request on the client side unusable?

[2020-05-16 07:24] c-martinez commented on #27
This is still a nice idea. Once upon a time Eduardo and Johannes from Beeld en Geluid worked on this idea (#73) but it was never completed.

[2020-05-16 08:00] c-martinez commented on #56
I think this is an issue of how you deploy grlc. So perhaps we can just add it as a note on the [developer guidelines](https://github.com/CLARIAH/grlc/blob/master/CONTRIBUTING.md).

I'll  close this issue for now, but please reopen it if it is something we still would like to include.

[2020-05-16 08:00] #56 closed

[2020-05-16 12:28] c-martinez commented on #59
From the API designer point of view, wouldn't it be simpler to have two separate queries (which would translate to two API endpoints), one which return the values of all years, and one which returns values of a specified year only?

I will close this issue, but please reopen if it is still a desired functionality.

[2020-05-16 12:28] #59 closed

[2020-05-17 21:08] c-martinez commented on #64
Hi @kidehen,

Do you know by any chance if this would be solved by upgrading to the most recent version of swagger-ui ?

Thanks!

[2020-05-17 21:11] c-martinez commented on #65
It looks like insert via grlc will not be supported, at least not in the near future. Please reopen this issue if needed.

[2020-05-17 21:11] #65 closed

[2020-05-17 21:15] c-martinez commented on #71
It looks like this feature never got traction. I will close this issue, but please reopen it if necessary.

[2020-05-17 21:15] #71 closed

[2020-05-17 21:16] c-martinez commented on #75
Closed via #86 (I think, but not 100% sure).

[2020-05-17 21:16] #75 closed

[2020-05-18 07:54] PedroATavares commented on #265
Hi @c-martinez, thank you for taking a look at this so quickly.

To answer your question, if the calls are coming from the client running in the browser and the response contains multiple `Access-Control-Allow-Origin` headers the browser will discard the response with the following error:
[code]

[2020-05-18 20:39] c-martinez commented on #265
You are right @PedroATavares, I've deployed this change on dev.grlc.io, if you could test that everything works as expected there, then I will patch grlc.io as well.

Thanks!

[2020-05-18 21:06] PedroATavares commented on #265
@c-martinez I checked and everything works as expected in dev.grlc.io, please let me know once its been patched in grlc.io. Thank you for the quick fix.

[2020-05-19 07:12] c-martinez opened #266 "Version management"
At the moment version number is located in:
- setup.py
- CITATION.cff
- __init__.py

We should centralise this in a single file.

[2020-05-19 08:39] eknutov commented on #265
@c-martinez thanks for the quick fix, we are using `grlc` a lot for some projects and it is nice to have everything fixed. thanks.

[2020-05-20 13:13] #265 closed

[2020-05-20 17:16] c-martinez commented on #265
@PedroATavares -- grlc.io has been patched. I will close this issue but please reopen it if the problem persists.

@eknutov -- nice to hear you are using grlc for some projects. If you could share with us what projects you are using grlc for, it is always interesting to hear from users. Even better, if you could help us by citing grlc on your work, that would be fantastic!

[2020-05-20 18:07] c-martinez commented on #244
@albertmeronyo -- submitted. Esperemos a ver que nos dicen. No lo habia hecho antes porque no estaban aceptando papers por el lockdown.

[2020-05-20 18:07] #244 closed

[2020-05-21 12:51] eknutov commented on #265
@c-martinez it is a Genealogy project we are using it for at the moment (https://genealogie.semaku.com) It visualizes timelines and relationships using some Dutch Achieve Open Data. We're definitely citing projects we use, so no worries.

[2020-05-22 15:43] c-martinez commented on #265
Really interesting! Thanks for sharing @eknutov !

[2020-06-05 11:38] c-martinez opened #269 "Twitter activity"
It would be nice to tweet from [grlc official account](https://twitter.com/grlcldapi) whenever there is a new release.

[2020-06-12 09:10] rlzijdeman opened #270 "organize hang-out"
That is good to hear @jblom. Yes it would be nice to organise a hang-out and see what you guys are up to :-) -- just let us know when you have some time.

_Originally posted by @c-martinez in https://github.com/CLARIAH/grlc/pull/224#issuecomment-643158784_

[2020-06-12 11:13] jblom commented on #270
@rlzijdeman hey this is turning into a nice group for a hang-out with a neat topic :-)

So definitely nice to have a session somewhere in the weeks to come. @mwigham and @wmelder should join too.

(Will send you my contact details in mail, got your call from our service desk)

[2020-06-12 17:50] c-martinez commented on #270
Hey @rlzijdeman -- we could organise this grlc hang-out as part of the [NL-RSE meetups](https://nl-rse.org/pages/meetups.html), would that be an idea?

[2020-06-13 07:00] rlzijdeman commented on #270
@c-martinez that would be great... I actually lost your mail address and asked eScience for it, but have not heard back. Could you please drop me a line at richard.zijdeman AT whereIwork.nl?

[2020-06-25 19:40] #269 closed

[2020-06-25 21:18] c-martinez commented on #90
In [v1.3.3](https://github.com/CLARIAH/grlc/releases/tag/v1.3.3) we introduced [different syntax](https://github.com/CLARIAH/grlc#query-location) to load queries from a GitHub repository (`api-git`), from local storage (`api-local`), and from a specification file (`api-url`), which gives more flexibility on where can queries be located.

I will close this issue, but please repoen it or create a ne

[2020-06-25 21:18] #90 closed

[2020-06-26 14:04] tkuhn commented on #247
Very helpful that `api/local/local` is still working for backwards compatibility. However, I realized that the JSON definition that was at `.../spec` is now at `.../swagger`. Would it be possible to make this backwards compatible too, i.e. serve the same JSON at both paths?

[2020-06-26 18:48] c-martinez opened #275 "Backward compatibility"
Requested by @tkuhn in #247:

Definitely possible. Not sure if we should support this in the long term or we should consider one as preferred option.

[2020-06-26 18:50] c-martinez commented on #247
Sure I have created an issue for it :-)

[2020-07-31 11:59] CunliangGeng opened #279 "Add parameter mapping to README"
I went through the README to look for how to build API parameters but did not find any info. The `Decorator syntax` is so highlighted that I thought some kind of decorator is needed to build API but it's missing. I asked @c-martinez  about this question and he kindly directed me to the wiki.

It'd be great to add the `parameter mapping` in the wiki to README considering the importance of building

[2020-08-13 18:41] #279 closed

[2020-08-13 20:50] c-martinez commented on #243
Tests implemented on 6e0cd5f

[2020-08-13 20:50] #243 closed

[2020-08-19 09:31] CunliangGeng opened #281 "Set default DEBUG in Dockerfile"
The env variable DEBUG does not exist in Dockerfile and uers have to explicitly set it in `docker run` command or docker compose file. If users forget to set it, the DEBUG variable will be a blank value which is then used in `grlc/docker-assets/entrypoint.sh` and leads to the following error:

[code]

To avoid this error, it would be nice to set a default DEBUG value in Dockerfile. @c-martinez

[2020-09-14 20:02] c-martinez commented on #270
This is being planned for the NL-RSE meetup on the 13 November -- closing this issue.

[2020-09-14 20:02] #270 closed

[2020-09-17 17:05] rapw3k opened #286 "bif functions in virtuoso"
Hi,
I have been trying to use bif:contains in one of the queries, but after many different trials I was not able, neither using it in the $where nor in the $filter.
I found this commit, which seems to address this but unfortunately I cannot make it work.
https://github.com/CLARIAH/grlc/pull/179/commits/2d3cb5ea3319f895dc237073da4f1d26bb73df9d

See a simple example:  http://grlc.io/api-git/rapw3k/c

[2020-09-17 17:06] rapw3k opened #287 "bif functions"
Hi,
I have been trying to use bif:contains in one of the queries, but after many different trials I was not able, neither using it in the $where nor in the $filter.
I found this commit, which seems to address this but unfortunately I cannot make it work.
https://github.com/CLARIAH/grlc/pull/179/commits/2d3cb5ea3319f895dc237073da4f1d26bb73df9d

See a simple example:  http://grlc.io/api-git/rapw3k/c

[2020-09-17 18:01] #287 closed

[2020-09-17 18:01] rapw3k commented on #287
duplicated

[2020-09-17 21:25] c-martinez opened #288 "Travis-ci.org is stopping"
As stated in this [newsletter](https://mailchi.mp/3d439eeb1098/travis-ciorg-is-moving-to-travis-cicom), Travis-CI.org will stop working on **December 31st, 2020**.

Two options:
 - We could [migrate to Travis-CI.com](https://docs.travis-ci.com/user/migrate/open-source-on-travis-ci-com/)
 - We could migrate to GithubActions

@albertmeronyo -- what do you think, do we have a strong preference?

[2020-09-18 14:20] CunliangGeng opened #289 "A new need: setting the Info of swagger file"
The current code does not allow to set the info (highlighted text in the figure below. Also see the [Info object](http://spec.openapis.org/oas/v3.0.3#info-object) in OpenAPI spec). I expect it possible to e.g. change the text `local` to `Local GRLC Server`, add some introduction text about the server under `local`, ad contact info, link Apache 2.0 to the `license`, etc.

![image](https://user-imag

[2020-09-18 16:51] c-martinez commented on #286
Hi @rapw3k,

Because `bif:` is a virtuoso specific function, it causes some issues with SPARQL syntax -- basically `bif:contains` is using a prefix which has not been defined. The way we have worked around this [in other projects](https://github.com/candYgene/queries/blob/master/getFeatureLocation.rq) is by adding a prefix:

[code]

Adding this to `$prefixes` in the json should do the trick:

[cod

[2020-09-19 14:40] rapw3k commented on #286
Hi @c-martinez , thanks for your support.

I created a new rq file with the query and transformation you proposed above. See https://github.com/rapw3k/cybele/blob/master/getByKeyword_2level_transform.rq

However, I still get error: http://grlc.io/api-git/rapw3k/cybele/#/test/get_getByKeyword_2level_transform
(you can use for example "greece" as keyword)

Any idea?

[2020-09-19 20:24] c-martinez commented on #286
Hi @rapw3k,

I think your query works just fine:
[code]

Just make sure to set your response content type to json:

![image](https://user-images.githubusercontent.com/7782231/93688530-bc6dc300-fac6-11ea-871f-41cb9e9c2543.png)

otherwise it cannot be transformed (and it throws an error -- that might be something to fix).

[2020-09-21 06:23] c-martinez opened #290 "Multiple level subdirs"
It looks like the subdirectory in the URL path only supports one level subdirectory.

For example `http://dev.grlc.io/api-git/egonw/SARS-CoV-2-Queries/subdir/docs/grlc` did not work (see [this issue](https://github.com/egonw/SARS-CoV-2-Queries/issues/40).

We should either support multiple levels (preferred option) or properly document that only 1 level is supported.

[2020-09-21 09:28] rapw3k commented on #286
Indeed, overlooked the concept type, thanks a lot for the support!

[2020-09-21 09:28] #286 closed

[2020-09-21 20:41] c-martinez commented on #286
Great -- glad it works.

[2020-09-28 06:19] c-martinez commented on #289
It is not too difficult to configure some of these information. I think instead of adding this information to the `config.ini` it might be better to include this information in a configuration file stored in the `local_sparql_dir`. This config file would have the following format:

[code]

Would that fit what you need @CunliangGeng ?

[2020-09-28 06:30] CunliangGeng commented on #289
Thanks, it looks great! I'd also have the description of the server, and it'd be great to also add `repo_description = A very awesome repo ...` :-)

[2020-09-28 06:52] c-martinez commented on #289
Good idea -- the swagger definition does not currently include a description, but it is probably a good idea to include one :-)

[2020-10-15 14:22] vemonet opened #296 "Support other branches than master in api-git"
GitHub just changed the default branch from `master` to `main` (in relation the the Black Lives Matter movement)

When publishing my API using api-git I realized grlc would only try to resolve the `master` branch, even if there was only 1 branch (`main` in my case)

Ideally grlc should take the default branch defined on GitHub, it would be more sustainable as more and more repo will use `main` as

[2020-10-18 11:37] c-martinez opened #297 "PyPI badge"
We should include a PyPI badge: [![grlc pypi badge](https://img.shields.io/pypi/v/grlc.svg?colorB=blue)](https://pypi.python.org/pypi/grlc/)

[2020-10-18 21:24] c-martinez commented on #296
Hi @vemonet -- Thanks for reporting this! You are absolutely right, this is an excellent suggestion. Could you point me to the repo you are using to test, so I can check what is going on?

[2020-10-20 17:35] vemonet commented on #296
Here is the repository I am using: https://github.com/MaastrichtU-IDS/food-claims-kg

Unfortunately I created a `master` branch, made it default and it is now working flawlessly, so I am not sure if you will be able to test on it. I still have the `main` branch though

[2020-10-21 20:47] c-martinez commented on #296
Thanks @vemonet -- I guess the easiest is to create a new repo with just a `main` branch and test with that.

[2020-10-23 15:00] albertmeronyo opened #298 "Explore use of Linksets for specs of links passed as parameter"
We're currently using a pointer to a YAML file as a parameter to generate APIs from query lists. This YAML file uses a "grlc defined" schema and thus is not standard, but could (potentially) be with (potentially) minimal hacking if we use [Linksets](https://tools.ietf.org/id/draft-wilde-linkset-07.html#name-http-link-document-format-a) (almost RFC status)

[2020-10-24 06:43] rlzijdeman commented on #298
@albertmeronyo am I right to assume that this feature would also apply to https://github.com/clariah/cow/?

[2020-11-06 14:01] vemonet commented on #296
@c-martinez I am seeing you are using PyGithub instead of the API

Just for your information you also get the default branch using the GraphQL API with `defaultBranchRef` and using `HEAD` in the search expression

Example:

[code]

[2020-11-09 08:17] c-martinez commented on #296
Thanks @vemonet :-)

[2020-11-09 19:31] c-martinez opened #300 "Migrating `/spec` path to `/swagger`"
As discussed in PR #277 -- we should deprecate the use of `/spec` in favour of `/swagger` paths and adapt the documentation accordingly.

[2020-11-15 21:59] #259 closed

[2020-11-16 20:25] c-martinez commented on #168
Fixed in v1.3.5 -- only took a year ;-) Thank you for your patience!

[2020-11-16 20:25] #168 closed

[2020-11-16 20:26] c-martinez commented on #176
Tests added in v1.3.5

[2020-11-16 20:26] #176 closed

[2020-11-16 20:27] #266 closed

[2020-11-16 20:28] c-martinez commented on #275
Fixed in v1.3.5

[2020-11-16 20:28] #275 closed

[2020-11-16 20:28] c-martinez commented on #281
Fixed in v1.3.5

[2020-11-16 20:28] #281 closed

[2020-11-16 20:28] c-martinez commented on #289
Fixed in v1.3.5

[2020-11-16 20:28] #289 closed

[2020-11-16 20:28] #296 closed

[2020-11-16 20:29] c-martinez commented on #290
Fixed in v1.3.5

[2020-11-16 20:33] c-martinez commented on #288
Travis publishing in PyPI is broken as of grlc 1.3.5, making this migration even more urgent.

[2020-11-16 20:34] c-martinez opened #303 "Python 3.5 end of life"
`DEPRECATION: Python 3.5 reached the end of its life on September 13th, 2020. Please upgrade your Python as Python 3.5 is no longer maintained. pip 21.0 will drop support for Python 3.5 in January 2021. pip 21.0 will remove support for this functionality.`

Grlc should drop 3.5 support by then.

[2020-12-12 12:03] ecow opened #304 "Can't control the format in which grlc resturns results by adding the extension to the URI;"
As written in the the wiki, it should be possible to force an output format just adding a proper extension to the API Uri. But in my host, it seams  not working (using docker clariah/grlc:v1.3.5):

`curl -X GET "http://localhost:29602/api-local/myquery" -H "accept: text/csv"`  works as a charm.

`curl -X GET "http://localhost:29602/api-local/myquery.ttl"` returns 404 ("Couldn't find a SPARQL, RDF

[2020-12-12 16:38] c-martinez commented on #304
Hi @ecow,

It is possible to force the output format by using the extension. For example if you use one of the test queries from `http://grlc.io/api-git/CLARIAH/grlc-queries/` you can do:

Output format CSV via content negotiation:
[code]

Output format turtle via content negotiation:
[code]

Output format csv via extension:
[code]

Output format turtle via extension:
[code]

*BUT* -- this feature

[2020-12-16 09:17] ecow commented on #304
To use the file extension to force a content type using an extension in the resource URI is a common  practice in linked data and in the web architecture specification. See dbpedia for example.
To properly manage this case,  the HTTP protocol defined the week validation for ETAG (also called semantic eTag) in order to allow cache optimization. This means that, for instance, the resource "http://gr

[2020-12-17 12:24] rosalinedehaan opened #305 "SPARQL/BASIL convention outside of query"
## Problem / Use case

When using an API variable in GRLC the SPARQL/BASIL convention needs to be applied in the query string, thus requiring user to specify within the query which variable is the API variable and of what type it is (e.g. ?_genre_iri rather then just ?genre).

In TriplyDB this is currently implemented outside of the query string. The only requirement is that the API variable has t

[2020-12-17 16:32] rlzijdeman commented on #305
@rosalinedehaan thank you very much for your response and willingness to look into compatibility between grlc and TriplyDB query notation. You appear to be modest about the advantages your solution has and only state that TriplyDB is different from GRLC and how GRLC could change things to be compatible.

Would you please highlight the advantages of the TriplyDB query notation over the current grlc

[2020-12-17 18:57] ecow commented on #304
P.S. I'm a quite an old good experienced programmer (php, bash, awk, perl, C) but as today  I do not know phyton, if some one can  suggest me a good learnin resource and some hints I can try to hack the code.

[2020-12-18 14:36] albertmeronyo commented on #304
Thanks for reporting this @ecow
We originally supported both types of content negotiation, and both are useful. I agree the extension trick is quite common in Linked Data. I think this is a bug we introduced while updating to the new grlc API as route patterns are becoming increasingly complex (this would be a separate discussion though).

I'll be happy to upgrade this to a bug and ask for PRs. @c

[2020-12-18 14:42] c-martinez commented on #304
My personal preference would be to just have one way of doing the content negotiation (via the HTTP header), but if the extension trick is common in linked data land, then I'm happy to stick to that convention. then we should indeed support this on the `/api-local` and `/api-url` routes.

[2020-12-18 15:16] albertmeronyo commented on #305
Hi @rosalinedehaan thanks for your suggestion.

Pros: This would make sense as we already put quite some load into the query metadata. So having there the parameter-variable mappings is perfectly possible. It wouldn't force clients to stick to any variable convention.
Cons: On the other hand, grlc query strings are valid SPARQL, so I don't see why TriplyDB can't e.g. map ?_var_iri into a parameter

[2020-12-21 11:44] rosalinedehaan commented on #305
Performing a mapping operation between TriplyDB and grlc queries may create unforeseen issues such as the user writing a query with variable name `?var` in it, expecting `?var` to be included in the resultset, but receiving `?_var_iri` instead.

I think this discussion is about whether we want to include the API description in the SPARQL query itself, or whether we want to (optionally) de-couple t

[2020-12-21 20:06] c-martinez commented on #305
Hi @rosalinedehaan,

I think it would be technically possible to have a decorator which defines the variable naming convention (e.g. BASIL by default, something else when indicated by the decorator).

I guess the motivation (having queries stored on Triply and executed via grlc) is a good one.

I think we might need a design session to plan how this could be implemented and if that would meet your

[2020-12-22 15:39] rosalinedehaan commented on #305
Hi @c-martinez,

Sounds good to me, thank you very much.
@albertmeronyo @rlzijdeman, also thanks for your input.

Could you keep me updated?

[2020-12-23 11:30] kad-beekw opened #307 "Media Type for GRLC"
Thanks for working on an standardized approach for exposing SPARQL query metadata!

In TriplyDB we expose all our saved queries as GRLC.  We are already exposing some properties, and are planning to add more of them over time.

When a client wants to retrieve the GRLC version of a query, they currently issue an HTTP request with the `text/plain` Media Type in the `Accept` header.

This is a reason

[2021-01-25 13:28] alexdma opened #311 "Document support for Linked Data Fragments"
The [feature list](https://github.com/CLARIAH/grlc/wiki/Features) mentions compatibility of GRLC with LD fragments.

Whether this means that one can supply an LD fragment server as an `endpoint` parameter, then a specification as to what the query should look like, in order to be parsable by GRLC, would make things clearer. Or even if I have completely mistaken the notion of LDF compatibility for

[2021-01-26 07:56] c-martinez commented on #311
Hi @alexdma, Thank you for your comment. I suppose this is related to https://github.com/openjournals/joss-reviews/issues/2731, correct?

Indeed it would be good to have a well documented example of how to use this feature. Perhaps as part of the [quick tutorial](https://github.com/CLARIAH/grlc/wiki/Quick-tutorial).

@albertmeronyo -- what do you think? Do you have an old example we could use to d

[2021-01-27 13:38] alexdma commented on #311
Hi @c-martinez - that is correct, I will be sure to mention the JOSS ticket in any related issues I might open.

[2021-01-27 14:49] albertmeronyo commented on #305
After today's discussion, this is the spec we're targeting on both grlc's and Triply's side:

[code]

[2021-01-31 09:30] ecow opened #312 "grlc caching"
Hi, just a question
does GRLC support the cache of  Get requests? There is a best practice  to enable caching with GRLC?

[2021-01-31 19:03] ecow commented on #312
Could be a bug in grlc nginx configuration?

I just added the directives:

[code]
just after  the line with `add_header X-Proxy-Cache $upstream_cache_status;`

and the server started to cache requests as supposed

[2021-02-02 13:38] ecow opened #313 "Internal Server with transform query decoration"
Is the transform query decorator broken?

It returns 500 Internal Server Error both in my local installation (docker grlc:latest connected with a blazegraph sparql endpoint) and in the the official example (  http://grlc.io/api-git/CLARIAH/grlc-queries/#/default/get_transform )

[2021-02-03 17:50] c-martinez commented on #313
Hi @ecow -- yes that definitely looks like a bug. Thanks for reporting this, I will look into it.

[2021-02-04 07:51] c-martinez commented on #313
It looks like transformations work, BUT...

Transformer always works with json, so it breaks when the content-type is not json. Granted, it should break in a more graceful way.

If you set the response content type to `application/json` it should work fine:

![image](https://user-images.githubusercontent.com/7782231/106859760-c7b33b00-66c3-11eb-9394-3a03c8dd8a38.png)

Does this work for you @ecow?

[2021-02-04 10:42] ecow commented on #313
Hi, @c-martinez .
even, if using header "Accept: application/json' , my test  fails with the simple decoration:

[code]

Instead the decoration

[code]
works well, producing something like:

[code]

 Is "$anchor" mandatory?

I would like to produce just a simple structure like:

[
   "string1",
   "string2"
]

Who to do it ? (if possible)?

[2021-02-04 11:35] c-martinez commented on #313
Yes, I think the `$anchor` is mandatory.

I'm not an expert on transformer syntax, but maybe check [their documentation](https://github.com/D2KLab/sparql-transformer). Otherwise, perhaps @pasqLisena might be able to shed some light.

[2021-02-05 09:29] pasqLisena commented on #313
Hi, yes the software requires an `$anchor` or an `id` field.
You can eventually mark it in this way:

[code]

[2021-02-06 16:31] vemonet opened #316 "Warning displaying due to JSON files not parsed properly"
Hi, I deployed a grlc OpenAPI alongside a React TypeScript app. See the repository here: http://grlc.io/api-git/vemonet/shapes-of-you it's a small project to index and expose [SHACL/ShEx shapes, OWL/OBO ontologies, SKOS vocabularies and SPARQL queries](https://index.semanticscience.org), I reused some concepts, metadata and even code bits from grlc.io for the SPARQL part, thanks a lot!

The API wo

[2021-02-09 20:36] c-martinez commented on #316
Hey @vemonet!

The reason JSON files are parsed is because queries can be expressed as JSON. You are right, this could be confusing for other standard files such as you mention.

As a work around, what you could do is have your queries on their own directory, for example:

https://grlc.io/api-git/c-martinez/shapes-of-you/subdir/queries

Would this work for you?

[2021-02-11 15:15] vemonet commented on #316
Yes that works for my use-case, thanks for the suggestion, it is cleaner anyway as the API grows :)

[2021-02-11 15:15] #316 closed

[2021-02-12 10:54] albertmeronyo opened #319 "Handle missing prefixes more elegantly"
Currently we are just catching (thanks @c-martinez ) errors when the query uses undeclared prefixes. This is very common.

At the moment the backend fails silently, and simply no OpenAPI spec is rendered for the offending query prefixes. Using the UI to at least show some error (and suggestions for fixing) would be a great addition.

Another option would be to intelligently try to guess the prefix

[2021-02-12 10:55] albertmeronyo opened #320 "Handle metadata more elegantly"
Currently we are just catching (thanks @c-martinez ) errors when we fail to parse query metadata. These are situations in which the parsing will most probably fail:
- Empty line at the beginning of the metadata section
- More than one empty line at the end of the metadata section
- Inconsistent indenting
- Etc.
At the moment the backend fails silently, and simply no OpenAPI spec is rendered for th

[2021-03-09 22:25] yannnic opened #322 "Parameter isn't recognized in a filter + concat"
GRLC does not recognize the parameter in this [query](https://github.com/yannnic/grlc-test2/blob/master/byidref.rq).
The parameter is inside a concat inside a filter :
`FILTER(?idrefuri = URI(CONCAT('http://www.idref.fr/', ?_idrefid, '/id')))`

Here is a working example without the GRLC param :
[code]

Endpoint : https://scienceplus.abes.fr/sparql

Cheers

[2021-03-10 20:00] c-martinez commented on #322
Hi @yannnic,

Yes, unfortunately, `?_idrefid` is not considered to be a variable when it is inside a `CONCAT` (grlc uses rdflib under the hood, and rdflib does not recognise it as a variable). We had come across this issue before (see #230).

As a workaround you could do something like this:

[code]

The `?_idrefid` **is** considered a variable inside the `OPTIONAL` clause, which allows for the va

[2021-03-10 21:26] yannnic commented on #322
Hi @c-martinez,
the proposed workaround works perfectly. Astute trick :)
Thank you so much.
I love grlc. It is very useful and elegant.

Good night

Yann

[2021-03-10 21:26] #322 closed

[2021-03-26 16:46] alexdma opened #325 "[Software paper] Describe the state of the field"
Re openjournals/joss-reviews#2731

Paragraph 2 of the JOSS paper at https://github.com/openjournals/joss-papers/blob/joss.02731/joss.02731/10.21105.joss.02731.pdf

describes the motivation of Grlc properly. It would best be complemented by a brief outline of the approaches taken regarding the field at hand (say, programmatic access to the Web of Linked Data without having to know SPARQL).

Since b

[2021-03-26 16:51] alexdma opened #326 "[Software paper] Minor corrections"
Re openjournals/joss-reviews#2731

https://github.com/openjournals/joss-papers/blob/joss.02731/joss.02731/10.21105.joss.02731.pdf

can you please check the following

- First paragraph, end: "requires certain level of expertise" -> "a certain level" (or rephrase e.g. "some degree of expertise", "some expertise")
- Second pagaraph: "face the challenge _of_ having to learn SPARQL"

[2021-03-26 17:10] alexdma opened #327 "Propagate/wrap error conditions of SPARQL endpoint"
If I try to execute a request from my API at http://grlc.io/api/alexdma/getty-linked-data-api/#/processes/get_processes

with application/json as a MIME type, I get an HTTP 200 but with the following payload (seemingly forwarded from the SPARQL endpoint)
[code]
The reason seems to be that the Getty SPARQL endpoint will accept `application/sparql-results+json` but not `application/json` (if that's

[2021-03-26 18:55] c-martinez commented on #327
Hi @alexdma! Thanks for raising this issue. Very good point, definitely something to improve there.

[2021-04-02 15:23] rapw3k opened #328 "object vs list of objects in the API output"
Hi,
In our project Cybele, we are trying to integrate and reuse the API in other services; however, there is one issue we are not sure how to handle.

In the endpoint: http://grlc.io/api-git/rapw3k/cybele/#/json/get_allDatasets
we have among others this specification.
[code]
The output of this endpoint returns a list of objects when there are more than one resource associated, but when is only one

[2021-04-04 07:40] c-martinez commented on #328
Hi @rapw3k -- very good question, I'm not 100% sure how to achieve this. I'm going to pass this question to @pasqLisena who is the real expert in Transformer syntax and capabilities.

[2021-04-04 12:15] pasqLisena commented on #328
Hi @rapw3k , it is not implemented now, but it is a good feature to have!
I opened a proper issue in the SPARQL transformer repository

[2021-04-06 07:51] rapw3k commented on #328
thank you @c-martinez , @pasqLisena, looking forward for this update!

[2021-04-06 08:27] c-martinez commented on #328
I will close this issue and we can track progress on the [SPARQL Transformer
 issue](https://github.com/D2KLab/sparql-transformer/issues/20).

[2021-04-06 08:27] #328 closed

[2021-04-06 17:02] pasqLisena commented on #328
Hi, I implemented the feature. Now your query can become:
[code]
In short, by putting `$list` on a property (or on the id/anchor, for targeting the whole object), the output is forced to be a list.

@c-martinez would you mind updating the SPARQLTransformer version to latest ([2.1.1](https://pypi.org/project/SPARQLTransformer/2.1.1/))?

[2021-04-07 07:14] c-martinez commented on #328
Hi @pasqLisena -- I've updated SPARQLTransformer version in the `dev` version. Should be updated in the `master` branch during the next release (will discuss with @albertmeronyo when that will be, but probably soon).

[2021-04-07 10:24] c-martinez commented on #313
Hi @ecow -- I just wanted to check with you if @pasqLisena's suggestion helped you solve your problem and if I can close this issue?

[2021-04-07 10:27] jaw111 opened #330 "Swagger-ui does not render correctly if license is not present"
When generating an API from a yaml specification file accessible on the web, the swagger-ui does not generate correctly if the license is not present.

Instead it just shows **No API definition provided.**

As the license is not required in OAS 2.0, it can be omitted when there is no license provided in the yaml specification file.

[2021-04-07 10:41] jaw111 opened #331 "Allow use of relative URLs for queries in yaml specification files"
When using an yaml specification file to generate an API, it appears the queries must be referenced by absolute URLs. This does not make the specifications very portable e.g. if I want to deploy (different versions of) a specification in different environments, I need to change those URLs per environment.

It would be a nice improvement if the query URLs were resolved relative to the URL of the ya

[2021-04-07 12:40] ecow commented on #313
Yes, you can close these issue but docs should be updated. Thank you.

[2021-04-07 19:17] #313 closed

[2021-04-12 22:11] rapw3k commented on #328
hi @c-martinez ,thats really cool, thanks!
tested it and works fine.
do you announce when you deploy a new release?

[2021-04-13 06:56] c-martinez commented on #328
hi @rapw3k, great, glad it works.
We usually [tweet](https://twitter.com/grlcldapi) whenever there is a new release. Next one should be out in the next couple of weeks.

[2021-04-14 08:57] albertmeronyo commented on #330
Thanks for this @jaw111
@c-martinez I think this means we're treating the license as mandatory; probably a default value would work just fine?

[2021-04-14 11:18] jaw111 opened #332 "Support for multivalue parameters in request"
Some users are asking if it is possible to add support for looking up multiple values for a parameter in a single request.

For example, given the query:

[code]

The user wants to be able to lookup the bands and albums for multiple genres in one request, which can be achieved fairly easily in SPARQL using the VALUES clause:

[code]

Would it be possible to extend support such that user can make s

[2021-04-15 07:05] c-martinez commented on #325
Thanks for your suggestions @alexdma

@albertmeronyo -- would [this](https://github.com/basilapi/basil/wiki/SPARQL-variable-name-convention-for-WEB-API-parameters-mapping) be a good reference for BASIL? And [this one](https://linkeddatafragments.org/publications/jws2016.pdf) for LD fragments?

[2021-04-15 17:55] c-martinez commented on #332
Hi @jaw111 -- thanks for suggesting this feature. It seems like it could be useful, but I have some doubts about it.

Correct me if I'm wrong, but I think the `VALUES` clause needs to be part of the `WHERE` clause. If that is correct, that is where my doubt begins: adding the `VALUES`  clause inside the `WHERE` clause would modify the query too much. grlc does not modify the queries when generatin

[2021-04-16 04:06] alexkreidler commented on #332
@c-martinez I agree, `VALUES` should be in the `WHERE` clause.

I personally would find this feature very useful. (I use the `VALUES` in my app to request a list of data from Wikidata)

Here's one possible implementation. The user would be required to write:
[code]
To indicate they know that it's a `VALUES` clause and so grlc doesn't have to add that/modify the query too much.
`grlc` just has to
1

[2021-04-16 05:51] jaw111 commented on #332
Please familiarize yourself with the SPARQL 1.1 Query Recommendation. Specifically:

https://www.w3.org/TR/sparql11-query/#inline-data

Also of relevance is the section from SPARQL 1.1 Federated Query Recommendation regarding interplay of SERVICE and VALUES which is somewhat analogous to what is discussed here:

https://www.w3.org/TR/2013/REC-sparql11-federated-query-20130321/#values

Cheers
John

[2021-04-16 05:57] alexkreidler commented on #332
@jaw111 Hey John, my mistake. The SPARQL spec does have the following ABNF:

[code]

so your example is perfectly valid (I just guess all the examples I've seen haven't used it there).

[2021-04-17 09:49] ecow commented on #304
Hi, is there a road map for a release correcting this bug?

[2021-04-19 19:32] c-martinez commented on #330
Thanks @jaw111, @albertmeronyo. Technically, it is relatively easy to treat license as optional (done in #334).

However, this raises a more philosophical issue: it grlc or a 3rd party user legally allowed to make use of queries where it is not clear how are they licensed?

I am not an expert, but I would say that it would be nice to encourage SPARQL query developers to license their queries, so o

[2021-04-19 19:52] jaw111 commented on #330
I am running a deployment of grlc in a private environment. The license is irrelevant in this setting.

I can understand it might be nice to add licenses for work released into the public domain, but that is of no concern for my usage.

Cheers
John

[2021-04-21 21:12] c-martinez commented on #304
Hi @ecow -- we should be making a new release in the next week or so. We will [tweet](https://twitter.com/grlcldapi) when the new release is published :-)

[2021-04-21 21:51] ecow commented on #304
Great news. Thank you for this great product.

[2021-04-28 10:40] rapw3k opened #335 "default-graph in endpoint url"
Hi!
we need to allow possibility of indicating which graph to use in the query.

As our triplestore is virtuoso, its very easy to say this using "default-graph-uri" parameter as below:

* https://www.foodie-cloud.org/sparql?default-graph-uri=https://w3id.org/cybele/datasets/

so, for those queries in json format, we add this whole string by default, and if the user wants he can change the graph
[c

[2021-05-05 10:20] albertmeronyo commented on #319
There is now a warning about missing prefixes in #337

[2021-05-05 19:10] ecow commented on #304
Great!! Now it works with 1.3.6

[2021-05-05 19:10] #304 closed

[2021-05-06 06:42] c-martinez commented on #326
Hi @alexdma -- we've implemented these minor corrections. Thank you for suggesting them!

[2021-05-06 06:42] #326 closed

[2021-05-06 06:50] c-martinez commented on #319
I don´t like the idea of intelligently guessing prefixes, because it changes the query behaviour. For example if you take the same query and run it directly against the SPARQL endpoint, you would get a different result. I don't think grlc should make such changes to queries.

Can we close this issue?

[2021-05-06 06:52] #303 closed

[2021-05-06 06:53] #300 closed

[2021-05-08 10:01] jaw111 opened #339 "Spurious ``` shown in query in description of generated swagger spec"
If the query text does not have a trailing newline character, the description in the generated swagger spec has trailing ` ``` ` visible.

![image](https://user-images.githubusercontent.com/2478333/117535218-0a531f00-aff5-11eb-9ecc-fea1af7cbb61.png)

[2021-05-16 19:25] #297 closed

[2021-05-16 19:28] c-martinez commented on #230
Closing this issue. If the proposed solution does not work, please re-open it.

[2021-05-16 19:28] #230 closed

[2021-05-16 20:30] c-martinez commented on #330
Closing issue and following on in #340

[2021-05-16 20:30] #330 closed

[2021-05-18 06:46] c-martinez commented on #331
Hi @jaw111 -- could you explain your use case a little bit further? Without knowing what you are trying to achieve, I am not sure the yaml specification will work for your. The yaml specification files builds an API from queries which are available on the web. Those queries are findable via their URLs, but it was not designed with the idea of those URLs being dynamic.

My way of viewing the proble

[2021-05-18 19:02] jaw111 commented on #331
I want to reference to the sparql files that are in the same folder on the webserver as the yaml file by using a relative rather than fully qualified url.

That makes it far easier to move those files to another folder, or indeed another web host, without needing to modify the yaml.

Nothing is dynamic, only grlc needs to resolve such urls relative to the url of the yaml specification. Seems prett

[2021-05-20 11:18] jaw111 opened #341 "Upgrade grlc to use rdflib 5.0.0"
We have a query in an API specification that is not parsed correctly using rdflib 4.2.2 (the `translateQuery` function fails).

Using that function locally in rdflib 5.0.0 works OK.

Suggest to update the dependency in grlc to also use rdflib 5.0.0 if that offers better support for parsing and translating queries.

See also: https://rdflib.readthedocs.io/en/stable/upgrade4to5.html

[2021-05-28 06:56] c-martinez commented on #331
My main worry is that it could become ambiguous which query is behind a specific API endpoint. But after actually I don't think that would be the case. I think it would work as follows:

For a spec file such as:
[code]

Spec file could be available at `http://myserver/repo/url.yml` and a query on the same folder `http://myserver/repo/local-query.rq`

This would generate the following API:
| Resour

[2021-05-28 20:16] c-martinez commented on #341
Thanks for the suggestion @jaw111 -- there is a PR for this awaiting to be merged in dev and will be in production for the next release.

[2021-05-29 07:40] jaw111 commented on #331
Seems ok to me.

The only small concern I'd have is that the name of the end point is derived from the URL of the query, being the last segment of the path minus any filename extension. Is there any risk to have clashes?

Actually that's independent of this proposed change as it can also happen if queries are referenced using absolute URLs too.

Any idea what would happen in such a case?

Sent fro

[2021-05-30 19:40] c-martinez commented on #331
Ok, created a PR implementing this.

Yes, there might be clashes on the names of the endpoints. Without looking into it, I think only the last endpoint in the specification (with the conflicting name) will be created. But indeed this will happen even with absolute URLs, so perhaps should be a separate issue.

[2021-06-02 10:29] albertmeronyo commented on #325
Both links are perfect @c-martinez , thanks!

[2021-06-02 13:25] #341 closed

[2021-06-02 16:14] #331 closed

[2021-06-02 16:24] jaw111 opened #344 "Handling of name clashes for endpoints"
Opening this to continue discussion from #331 about handling of name clashes for endpoints that may arise if the 'local' names of sparql queries are the same. Let's say I reference queries `http://example.com/path/query.rq` and `http://example.com/some/other/path/query.rq`, what should the behavior be?

Is there any utility to allow to (optionally) specify a name for the endpoint possibly by addin

[2021-06-03 19:16] jaw111 opened #345 "Be more specific with mime types in accept headers to sparql endpoints"
Related to #304 some of our users have begun to use the `.csv` extension on the request URLs to directly access the results in CSV format.

We are using Amazon Neptune and today observe that these requests suddenly start returning JSON results after upgrading the cluster to the new version 1.0.4.2 engine. On closer inspection it transpires that grlc makes those requests with header `Accept: text/c

[2021-06-11 20:49] c-martinez commented on #344
I think this is a nice proposal. Are there any other attributes we would like to for each query?

@albertmeronyo -- any thoughts?

[2021-06-22 13:19] #325 closed

[2021-06-22 14:08] alexdma commented on #325
Thanks! Where can I view the updated paper?

[2021-06-22 17:11] c-martinez commented on #325
No problem -- I just generated a [fresh version](https://github.com/openjournals/joss-papers/blob/joss.02731/joss.02731/10.21105.joss.02731.pdf) in the [joss issue](https://github.com/openjournals/joss-reviews/issues/2731)

[2021-06-24 16:35] rajaram5 opened #347 "Default value for optional paramater"
Is it possible to set a default value for the optional param? I am trying to create an API where `country` is an optional parameter. In my SPARQL query I want to return all the results if the optional parmeter value is not provided by the request. But when I do a request like this `http://myapi.com/search?code=http%3A%2F%2Fwww.orpha.net%2FORDO%2FOrphanet_98056`  I see that no value is attached to

[2021-07-02 16:33] sennierer opened #348 "xsd:date not working?"
Hi,

we are trying to get that query working: https://grlc.acdh-dev.oeaw.ac.at/api/InTaVia/grlc_sparql#/default/get_person_test_dates

But whatever we do grlc does not recognize the _xsd_date in the end of the variable and thinks it is a string. Do we need to activate that functionality somewhere? Or is there something missing in the query?

Thanks!

Btw.: grlc is really great work!

[2021-07-03 10:07] sennierer commented on #348
Ok, seems like the issue was related to #322 and similar. Adding an OPTIONAL clause with the parameter inside fixed the issur. Closing this.

[2021-07-03 10:07] #348 closed

[2021-07-04 21:05] c-martinez commented on #348
Hi @sennierer -- glad to hear you managed to fix your issue :-)

[2021-07-10 15:03] c-martinez commented on #347
Hi @rajaram5 :wave:,

It looks like you are running into the same issue described in #322. The proposed workaround seems to work for your query:

[code]

Hope this solves your issue?

[2021-07-19 17:58] ecow opened #349 "calling yaml.load() without Loader=... is deprecated"
I got this warning, I suppose some libraries need to be updated (docker version):

`/usr/local/lib/python3.6/site-packages/grlc/gquery.py:277: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.`

[2021-07-19 18:01] ecow opened #350 "Unexpected warning if no endpoint specified,"
I think that to use the default endpoint should be perfectly legal, so probably the warning:

`WARNING:No endpoint specified, using default`

could be removed

[2021-07-19 19:25] lagivan opened #351 "Allow fixing specUrl via environmental variable"
It'd be a good improvement to allow binding grlc instance with a specification file and to prevent using any other specification file.

Now you can set a specification file with `specUrl` argument and, thus, anyone can create its own specification file and set of queries to run against the pre-configured SPARQL endpoint. It causes a security risk if the intention is to allow users to run only pre-

[2021-07-23 06:39] c-martinez commented on #350
True. Perhaps it is useful in debugging mode...

[2021-07-23 15:52] ecow commented on #350
yes, it could be useful in debugging . I close the issue

[2021-07-26 12:16] tkuhn opened #352 "input placeholders not picked up when bind statement is present"
I am running into this problem that I want to add a bind statement like this one: https://github.com/peta-pico/fpsi-queries/blob/main/get-classdef-reviews.rq#L85

This seemed to work fine, until I realized that the input placeholders like `?__author_iri` ([here](https://github.com/peta-pico/fpsi-queries/blob/main/get-classdef-reviews.rq#L19)) are no longer picked up. After commenting out the bind-

[2021-07-26 13:37] tkuhn commented on #352
It seems this is triggered by strings in the bind statement containing escaped Unicode sequences of the form "\u0001". I rewrote the regex to avoid such sequences, and the problem seems to be gone.

So, the bug seems only to be related to the handling of such "\u...." patterns.

[2021-07-26 18:42] c-martinez commented on #351
Hi @lagivan -- very interesting use case. It is a bit different from how we have designed and used grlc so far. Usually we aim to share public queries (e.g. on Github) for accessing public RDF stores (e.g. DBPedia). Hiding an RDF store behind a grlc API is a kind of unexpected way of using grlc, so let see what would be the best way to get your use case to work.

One mitigating factor: an external

[2021-07-26 19:00] c-martinez commented on #352
Hi @tkuhn! so if I understand correctly, the bug is when handling queries which contain unicode sequences? Do you think you could help us build a minimal example query which triggers the bug so we can go bug-hunting?

[2021-07-27 09:05] lagivan commented on #351
@c-martinez we use a spec file now and we have to use `specUrl` argument so it's possible to see that from the client side.

You said an external person would be able to reach the RDF store by address - actually it's not possible in our case as RDF store is in the private network. We use our own grlc instance that has access to the RDF store and users can only access the grlc instance. So it's qui

[2021-07-27 09:06] tkuhn commented on #352
Sure! Minimal example is here: http://grlc.io/api-git/tkuhn/grlc-unicode-test

The `fails` query contains the unicode escape sequence `\u0001` in a string, which leads to the placeholder `?__class_iri` not being picked up as such.

The `succeeds` query is identical except for the unicode escape sequence. Here the placeholder is picked up without problems.

Otherwise, both queries work just fine.

[2021-08-02 21:42] c-martinez commented on #352
Hi @tkuhn. Bad news: after some investigation, it looks like the issue comes from how rdflib is parsing your query. An exception is raised when running `Query.parseString`:

[code]
exception raised is:
[code]

I think the best we can do is make sure the exception gets propagated properly and that the user know the query could not be parsed.

[2021-08-03 21:18] c-martinez commented on #349
Thanks @ecow probably the easiest is to use `yaml.safe_load`

[2021-08-04 09:12] ecow commented on #312
I think this issue  could be closed because it is non a problem of grlc but of a specific docker implementation.
In my opinion  any proxy should be external to the grlc server and implemented as a sidecar services according design pattern  in distributed services architecture. This also reduce the size and the complexity of the docker image itself

[2021-08-04 09:12] #312 closed

[2021-08-04 09:17] ecow commented on #350
I reopen this issue because looking to the code, it seams to me that in line  63 of  src/gquery.py the line:

`glogger.warning("No endpoint specified, using default ({})".format(endpoint))`

could be rewitten as

`glogger.info("No endpoint specified, using default ({})".format(endpoint))`

In my opinion, Info is most appropriate level for this kind of log, also looking to similar cases in the same

[2021-08-04 10:06] tkuhn commented on #352
This seems strange, as the query *does* work. Only the placeholders aren't picked up. When I run the example above, everything works, except that I am not given the possibility to fill in the placeholder. So it seems SPARQL parsing doesn't fail, at least not completeley. Or am I missing something?

[2021-08-04 17:23] #349 closed

[2021-08-04 17:35] c-martinez commented on #352
Yes, it is a bit complicated. The query gets parsed to extract variables. This is the parse that is failing, which is why the `?__class_iri` placeholder does not become a variable. But the parsing exception is not being properly propagated, so the Swagger UI still has a `fails` method.

PR #353 makes the Swagger UI display a warning to the user, so that the user knows there is an issue.

[2021-08-04 17:35] #352 closed

[2021-08-07 08:27] tkuhn commented on #352
I see. I didn't realize the parsing is only for the placeholder extraction. Showing a warning will certainly help. I found a workaround for my particular query that doesn't involve any "\u...." sequences.

[2021-08-08 15:14] essepuntato opened #356 "Comments for submission to JOSS 2731"
Some suggestions and comments for improving the software and its description - related to https://github.com/openjournals/joss-reviews/issues/2731.

# License
The license in the repository list only one person as owning the copyright of the software, while there are two authors (and main contributors) listed in the paper describing the software. Just asking but: does it make sense to extend the pe

[2021-08-09 06:50] c-martinez commented on #356
Hi @essepuntato -- thank you for your comments, we will take them into account.

[2021-08-12 11:43] rajaram5 commented on #347
Hi @c-martinez, thanks for your reply. I tried the above solution it worked. However the response time of API increase a lot and when I have more then one optional parameter in my API some case I hit a timeout error. I tired the solution below but it didn't work :-(. Any suggestion to improve the response time?

[code]

[2021-08-13 06:45] c-martinez commented on #350
Thanks -- added that one to pending PR #355 on commit 6c2cf0a so it should all be merged together :-)

[2021-08-13 07:05] c-martinez commented on #347
Hi @rajaram5! Do you have an example of a query with more than one optional parameter and which times out? I can look into it.

The query you tried may not work because `?__country` (double underscore) and `?_country` (single underscore) are going to look different to the query parser. You can replace your inner `SELECT` clause for this, and then it should work:

[code]

[2021-08-17 08:44] rajaram5 commented on #347
I get timeout for the query below when I don't provide values for both the optional parameters. But if I provide value for one of the optional parameter then the query works but takes quite some time. I also setup a [grlc server ](http://ejprd.fair-dtls.surf-hosted.nl:8060/api-local#/) for this query. For testing the query please use values `http://www.orpha.net/ORDO/Orphanet_98056`, `IT`, `Patien

[2021-08-17 08:53] rajaram5 commented on #347
BTW, about double underscore isn't it mandatory if you want to indicate to grlc server that a parameter is optional?

[2021-08-19 01:05] c-martinez commented on #347
Hi @rajaram5 -- I'm trying to replicate your timeout issue. But it seems like the SPARQL endpoint is returning an exception:

[code]

I get the feeling that the queries grlc is sending to the endpoint are somehow not being understood.

[2021-08-23 07:06] tkuhn opened #358 "grlc.io down"
It seems that grlc.io is down? (sorry if this isn't the right place to report this)

[2021-08-23 09:15] rlzijdeman commented on #358
Hi @albertmeronyo @c-martinez I thought grlc.io was hosted at the VU, but VU says: "that the DNS record is not working (indeed, ping grlc.io says 'host not found'). Since the DNS of the VU is working, the admin doubts that the site is hosted at the VU)"

[2021-08-25 15:49] LvanWissen commented on #358
According to the WHOIS information (http://whois.nic.io/), the domain was updated on the 19th of August and is now held by Kings College London (@albertmeronyo?). But, the name servers of the previous registrar GoDaddy are still used.

Can anyone update the name servers and/or add some A-records to the domain over there?

[2021-08-26 08:44] tkuhn opened #359 ""Request Line is too large" error"
I am trying to set up a plain grlc service (via Docker) and I am now getting the error "Request Line is too large". See here: http://grlcplain.nanopubs.lod.labs.vu.nl/api-git/peta-pico/fpsi-queries/get-superpattern-reviews

Any idea what's going on here?

[2021-08-26 10:36] jaw111 opened #360 "Support for SPARQL media type"
To help with debugging queries, it would be handy to be able to retrieve the actual instantiated query text that grlc sends to the endpoint based on the parameterization.

Whilst that is probably something that could be logged, it would potentially make the logfile rather verbose.

Instead it would be nice if the query text could be retrieved by sending header `Accept: application/sparql-query` in

[2021-08-31 15:40] jaw111 opened #361 "Invalid queries if varible name is substring of another variable name"
Given a query like where a variable is a substring of another variable name

[code]

If the request URL includes the `label` parameter e.g. `?label=foo` then the resulting query is invalid.

[code]

The logic for rewriting the queries should be more robust than simply replacing strings in the query text to account for this.

[2021-09-01 12:52] rapw3k commented on #358
Hi, I still cannot access grlc.io. Do you have any news on this?

[2021-09-01 13:44] albertmeronyo commented on #358
Hi all, this should be resolved now. The issue was an incomplete domain transfer to a new registrar that did not update the DNS records, as some of you pointed out. Apologies for the inconvenience.

We are going to start up a list of alternative grlc public instances in the README to avoid shortages of this kind in the future.

Thanks for your patience and confidence!

[2021-09-01 13:44] #358 closed

[2021-09-01 13:44] albertmeronyo opened #362 "Alternative list of public grlc instances in README"

[2021-09-10 06:42] c-martinez commented on #347
After a bit of offline discussion, we got to the bottom of the issue. It looks like the expression `OPTIONAL {?s ?p ?__country}` gets expanded by the triple store (GraphDB in this case) while processing the query. We've tried this trick using Virtuoso in the past, and it worked well then, so this might be dependent on the triple store in question.

Anyway, the solutions was to limit the number of

[2021-09-10 06:42] #347 closed

[2021-09-21 20:51] c-martinez commented on #361
Hi @jaw111! Interesting issue, I don't think we've ever come across this sort of use case before. We've been thinking for a while that the variable replacement code should be upgraded, to overcome issues such as #230, so maybe this is something to be taken into account as well.

The only thing that I can think of, is to do string replacement, starting from the longest variable name (`?__label2` in

[2021-09-23 19:04] c-martinez commented on #362
Should this be in the README? Or on a sub-page (wiki) linked from the README?

[2021-09-23 19:14] c-martinez commented on #80
There doesn't seem to be a need for this. Closing issue, please reopen if necessary.

[2021-09-23 19:14] #80 closed

[2021-09-23 19:33] c-martinez commented on #335
Hi @rapw3k,

I'm trying the example that you mention. From what I can see in debug mode is that the query is being sent to this endpoint:

[code]
Isn't that the expected behaviour? I'm not sure if this is still an issue (I know, it has been open for some time now...). If it is no longer an issue, perhaps we can close it?

[2021-09-29 07:26] jaw111 commented on #361
@c-martinez I like your suggestion, it's nice and simple :)

My other though was that as the query is being translated into the SPARQL Algebra Expression with rdflib, it should be possible to programmatically manipulate that expression to replace the variable by the RDF term and reserialize back to text. That might be more complex than manipulating the query text as a string, but should be a more

[2021-10-13 19:50] tkuhn opened #364 "CORS and security errors"
Has some configuration of the https://grlc.io server changed lately? I am getting this error since today when trying to access it from JavaScript:

This used to work, and it seems it's still working with http://grlc.io (http instead of https). So, I have the feeling that something has changed on the server side.

This is probably related: Accessing the API URLs like https://grlc.io/api-git/peta-pi

[2021-10-16 14:04] c-martinez commented on #364
Security error should be gone now -- server certificate had expired. I've renewed it now.

[2021-10-16 14:04] #364 closed

[2021-10-18 04:55] tkuhn commented on #359
No, increasing `client_max_body_size` doesn't help.

The error message looks like it comes from something called Gunicorn: https://serverfault.com/questions/564464/nginx-request-line-too-large

And grlc is using Gunicorn, it seems? There is a solution in the link above, but I have no idea how I can pass such an argument to the Gunicorn part of grlc...

[2021-10-19 11:44] #359 closed, assigned to c-martinez

[2021-10-20 19:53] #356 closed

[2021-11-02 15:31] alexdma commented on #311
I agree that it does. Thank you and nice work adding LDF documentation!

[2021-11-02 16:04] arfon commented on #311
:+1: thanks @alexdma! When you have a moment, please update the review checklist in https://github.com/openjournals/joss-reviews/issues/2731 based on these changes.

[2021-11-02 16:22] alexdma commented on #311
Closing in agreement with editor in chief

[2021-11-02 16:22] #311 closed

[2021-11-15 22:01] c-martinez commented on #141
Added an extra example [here](https://github.com/CLARIAH/grlc/wiki/Quick-tutorial#using-grlc-from-python) -- with that and the recent addition of linked data fragments to the tutorial, I think we can close this issue.

[2021-11-15 22:01] #141 closed

[2022-01-20 15:03] rapw3k opened #367 "fixing response headers of requests"
Hi,
I have a few questions regarding headers of requests.
I am testing with this endpoint: http://grlc.io/api-git/rapw3k/cybele/#/json/get_allDatasets

* If you dont send a page number in the request, the response header returns the link to the next and to the last as follows:
next: <http://grlc.io,grlc.io/api-git/rapw3k/cybele/allDatasets?endpoint=https%3A%2F%2Fwww.foodie-cloud.org%2Fsparql%3Fdef

[2022-01-24 17:16] c-martinez commented on #367
Hi @rapw3k,

Thanks for your comments! I don't think this particular functionality has been extensively used, so it is not very polished: there is definitely room for improvement :-)

Yes, I you are right. Probably the "page" variable should be set to 1 if not present in the request.

Not sure why links are being generated like that, but indeed they look in correct.

These are all related -- the i

[2022-01-28 12:36] rapw3k commented on #367
thanks for the reply @c-martinez
Indeed, we are having some cases where we are returning tens of results, and the paging becomes *quite relevant* in order to get them.

Some problematic points I see, apart from the ones mentioned above:
* As far as I can see, one result may be spread in two pages,
* The number of results per page is a little random. Some pages return 1 result, some other return 5

[2022-04-07 21:26] rlzijdeman opened #369 "API spec not found or internal server error"
Hi, sorry to ask, but I'm doing something wrong and unsure of what.

My query is executable here:
`https://api.druid.datalegend.net/s/pq0GcPt6j`
My endpoint is here:
`https://api.druid.datalegend.net/datasets/AdamNet/all/services/endpoint/sparql`
My GitHub repo with subdir is here:
`https://github.com/rlzijdeman/hackalod/tree/master/sparql-queries`
My call in the browser is this:
`http://grlc.io/a

[2022-04-08 13:37] RubenSchalk commented on #369
Hi Richard, perhaps change .sparql in the repo to .rq? Then it works at my repo at least :)

[2022-06-08 12:25] MiharyR opened #370 "Insert data"
### Expected behavior
According to this page https://github.com/CLARIAH/grlc/wiki/Features :
"INSERT DATA queries are now mapped automatically to POST requests. Support is limited to queries with no WHERE clause, and parameters are always expected to be values for g (named graph where to insert the data) and data (with the triples to insert, in ntriples format). The INSERT query pattern is so far

[2022-06-13 21:02] c-martinez commented on #370
@albertmeronyo -- do we have an insert example in one of the tutorials? I'm not sure what the exact syntax should be.

[2022-06-21 08:07] jagerda opened #371 "Vulnerabilities found with trivy-scan"
[clariah_grlc__latest.2022-06-20_table.txt](https://github.com/CLARIAH/grlc/files/8946956/clariah_grlc__latest.2022-06-20_table.txt)

Generated with:
`sudo trivy image -f table -o clariah_grlc__latest.$(date +%F)_table.txt clariah/grlc:latest`

Is there a chance that we can improve on that and reduce the number of findings?
Maybe an update of the base image already helps?
Can we create a list of e

[2022-06-28 12:07] GenEars opened #373 "Privacy: allow disabling calls to https://www.google-analytics.com/analytics.js from the grlc/src/templates/index.html file."
Dear GRLC team,
I observe that the https://github.com/CLARIAH/grlc/blob/bb1c70feea5919f399f35fe3fe08496a7950eb31/src/templates/index.html#L26 currently holds calls to https://www.google-analytics.com/analytics.js which creates privacy issues for private GRLC instances: unless blocked by Web browser's anti-tracking tools, analytics.js exports private URIs.

Options I see for addressing these are:
*

[2022-06-30 09:58] rajaram5 opened #374 "Does grlc support POST body?"
Hi @c-martinez I wonder if grlc server supports POST methods with request body. I also like to extract the values from the POST body and use it in the query. Does grlc support this functionality?

[2022-06-30 12:38] c-martinez commented on #374
Hi @rajaram5,

Yes it is possible! grlc already supports this functionality.

See https://github.com/CLARIAH/grlc#method for reference, but basically you need to include the `#+ method: POST` decorator, and then you can call your query via post like this:

[code]

Hope this helps?

[2022-06-30 12:38] #374 closed

[2022-06-30 14:24] rajaram5 commented on #374
No something like example below. I am want to pass data in my `request body`. In this case I am passing gender uri. I also want to use this gender uri in the SPARQL query

`curl -X POST https://example.com/beacon2/api/individuals -d '{"gender": "http://purl.obolibrary.org/obo/NCIT_C20197"}'`

[2022-06-30 15:19] c-martinez commented on #374
I think that should work. I just tried:

[code]
and it worked.

[2022-06-30 17:07] rajaram5 commented on #374
Ok let me give it a try

[2022-07-07 06:07] MiharyR commented on #370
Solved as per the implementation provided in https://github.com/Orange-OpenSource/grlc

[2022-07-07 06:10] #370 closed

[2022-07-07 06:50] c-martinez commented on #370
Would it be useful to integrate this functionality? A pull request with this functionality would be most welcome :-)

[2022-07-11 12:58] jagerda commented on #371
See also https://github.com/CLARIAH/grlc/pull/372

[2022-07-12 06:55] MiharyR commented on #370
@c-martinez
Hello,
It would be a pleasure to merge our projects ^^

However, I need your opinion on how to do this pull request.
Indeed, I deleted a lot of parts of your code.
I even deleted more code than added.

Specifically, at some point of your code, you have the SPARQL query and the parameters.
But then, you do a lot of processing that I don't understand (e.g rewrite the query).
I found this

[2022-07-12 13:22] c-martinez commented on #370
Hi @MiharyR,

I know what you mean -- grlc has quite a bit of code which could be cleaned up. Perhaps you could join one of our developer meetings (with @albertmeronyo and me) and we could discuss how to integrate your code?

[2022-07-13 07:10] MiharyR commented on #370
Hello @c-martinez,

It's a good idea !
My schedule is very light. So, I let you suggest the meeting times that suit you.

PS: Like you probably see, I work on GRLC as part of my job. So you can contact me even in the middle of a working day

[2022-07-20 20:18] c-martinez commented on #370
Hi @MiharyR,

Sorry for the delay in getting back  to you -- could you get in touch with me via email (c.martinez@esciencecenter.nl) so I can propose dates and setup a meeting?

[2022-08-11 14:41] c-martinez opened #375 "Add Gitlab support"
A `fileLoader` which loads data from Gitlab is necessary for this functionality. This is mostly already done in https://github.com/Orange-OpenSource/grlc

See #370 for more info.

[2022-08-15 19:16] c-martinez opened #376 "Add SPDX-License-Identifiers"
Adding SPDX license identifiers in every file is the convention recommended by https://reuse.software/

This was tentatively implemented in #370.

[2022-08-15 19:24] c-martinez opened #377 "Support for Insert data"
Initially implemented in #370

Implementing support appears to be fairly straight forward, but it would be necessary to make sure it is properly documented and (ideally) tested.

[2022-08-15 19:27] c-martinez commented on #370
Hey @MiharyR and @albertmeronyo ,

I had a look at the diff between with  https://github.com/Orange-OpenSource/grlc, and I think we could pull changes relatively easily. But there might be a few details to discuss. So I suggest we split the changes in separate issues. I've created 3 issues #375,#376 and #377, so we can discuss details there :-)

[2022-09-05 20:54] rapw3k opened #378 "SensorThing API - page number( page parameter) inside query"
Hi!
I am trying to create a OGC SensorThing API compatible API.
I am starting with Observations method: https://developers.sensorup.com/docs/#observations_get
I was able to create the complete response except from the ["@iot.nextLink](javascript:;) which requires to know which page are we having, i.e., pagination.
The link is quite simple, e.g., something like:

BIND (URI(CONCAT('https://w3id.org/

[2022-09-07 09:56] rapw3k commented on #335
Yes, i see now this is fine, thanks

[2022-09-07 09:56] #335 closed

[2022-09-07 20:34] rapw3k commented on #378
this was sorted out.
the problem was nothing to do with parameter "page", it was related to this: https://github.com/CLARIAH/grlc/issues/322#issuecomment-796003965

[2022-09-07 20:34] #378 closed

[2022-09-08 13:30] rapw3k opened #379 "Is it possible somehow to send LIMIT and OFFSET as parameters (not using paging) ?"
Hi @c-martinez
I would like to be able to specify the LIMIT and OFFSET of the SPARQL inside the query, not automatically via the paging option, see e.g., : https://grlc.io/api-git/ILIAD-ocean-twin/api/#/test/get_Observations_test  (not working)
Is this possible somehow?
thanks

[2022-10-05 21:22] c-martinez commented on #379
Hi @rapw3k,
Sorry for the delay in replying to your issue. I've had a quick look, and it appears it is not possible to do this. Basically, because having something like `LIMIT ?top` is invalid for SPARQL (limit should not be a SPARQL variable). Of course this would not be a problem once grlc rewrites ?_top to be a value, but because of the order in which grlc replaces variables, it runs into an is

[2022-11-03 12:25] Montanaz0r opened #380 "Is it possible to represent a list consisting of multiple variables in the query converted into JSON?"
Hi @c-martinez @albertmeronyo! First of all, Thank you for your excellent work.

I do play with the tool you created for some time, and I was wondering if there is a way to represent a python-like list in the transformed JSON. The caveat is that the list should contain multiple variables that query extracts. Let me show you an example of what I am trying to achieve:

`#+       "coordinates": [1.23

[2022-11-03 20:55] c-martinez commented on #370
Hey @MiharyR -- first of these issues is addressed by #381 in case you might have any comments.

[2022-11-06 21:44] c-martinez commented on #380
Hi @Montanaz0r ! Nice to hear you find grlc useful!

Very good question! I'm not sure this is possible. But I would guess @pasqLisena might know -- he is the real expert in transform syntax.

@pasqLisena, any ideas?

[2022-11-30 13:26] c-martinez opened #383 "FAIRness badge"
Score:
[![FAIR checklist badge](https://ardc-fair-checklist.github.io/ssg/badge.svg)](https://ardc-fair-checklist.github.io/ssg/software/v0.1?f=312322&a=3323&i=20&r=424212)